button:not(.override) {
    padding: 5px 10px;

    display: inline-flex;
    gap: 10px;

    border-radius: 5px;
}

#titlebar {
    gap: 0px;
}
#titlebar > .logo {
    padding: 10px;

    font-size: 16px;

    background-color: transparent;

    cursor: pointer;
}
#titlebar > .space {
    flex-basis: 100%;
}
#titlebar > :last-child {
    margin-left: 10px;
}

#mount > .page {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: calc(100% - 20px);
    max-height: calc(100% - 20px);
}

#PAGE {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PAGE > .side {
    width: 0%;
    max-width: 0%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
}
#PAGE > .content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border-radius: 10px;
}
#PAGE > .content > article {
    width: min(100%, 750px);
    max-width: min(100%, 750px);
    margin: 50px 0px;
}
#PAGE > .content > article p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#PAGE > .content > article p > span {
    min-width: max-content;
}
#PAGE > .content > article p > span.space {
    flex-basis: 100%;
}
#PAGE > .content > article p > button.special {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a3);
    --fgd: var(--v6);
}
#PAGE > .content > article p > button.on {
    --bg: var(--cg3);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cg2);
    --fgd: var(--v6);
}
#PAGE > .content > article p > button.off {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr3);
    --fgd: var(--v6);
}
#PAGE > .content > article p > input {
    padding: 5px;

    background-color: var(--v2-8);
    border-radius: 5px;
}
#PAGE > .content > article > #colorsheet {
    display: inline-grid;
    grid-template-columns: repeat(9, 30px);
    gap: 2px;
}
#PAGE > .content > .loads {
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: center;

    color: var(--v2);

    font-size: 12px;
    font-family: monospace;
}
#PAGE > .content > .loads * {
    font-family: monospace;
}
