#titlebar {
    gap: 0px;
}
#titlebar > .logo {
    padding: 10px;

    font-size: 16px;

    background-color: transparent;

    cursor: pointer;
}
#titlebar > .space {
    flex-basis: 100%;
}

#mount > .page {
    padding: 30px;

    background: var(--gradient);
}

#TITLEPAGE {
    overflow: auto !important;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#TITLEPAGE > .title {
    min-height: calc(100vh - var(--TOP));

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#TITLEPAGE > .title > .super {
    margin-top: -60px;

    color: var(--a);

    font-size: 20px;
}
#TITLEPAGE > .title > .main {
    color: var(--v8);

    font-size: 50px;
    font-weight: 500;
}
#TITLEPAGE > .title > .nav {
    width: min(300px, 100%);
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#TITLEPAGE > .title > .nav > button {
    padding: 10px 30px;

    border-radius: 5px;

    font-size: 16px;
}

#DOCSPAGE {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#DOCSPAGE > div {
    min-width: 25%;
    max-width: 25%;
}
#DOCSPAGE > article {
    min-width: 75%;
    max-width: 75%;
}
