#PROJECTPAGE > .main {
    --side: 15%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .dragbox {
    z-index: 10;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    background-color: var(--a-4);
    backdrop-filter: blur(3px);

    opacity: 0%;
    visibility: hidden;

    pointer-events: none;

    transition: opacity calc(0.5 * var(--t)), visibility calc(0.5 * var(--t));
}
#PROJECTPAGE > .main > .dragbox.this {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .main > .dragbox::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 10px);
    height: calc(100% + 10px);

    border: 5px solid var(--v8);

    transition: width var(--t), height var(--t);
}
#PROJECTPAGE > .main > .dragbox.this::before {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
#PROJECTPAGE > .main > .dragbox > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(75%);

    background-color: var(--v8);

    transition: transform var(--t);
}
#PROJECTPAGE > .main > .dragbox.this > div {
    transform: translate(-50%, -50%) scale(100%);
}
#PROJECTPAGE > .main > .dragbox > div:nth-child(1) {
    width: min(10vw, 10vh);
    height: min(2vw, 2vh);
}
#PROJECTPAGE > .main > .dragbox > div:nth-child(2) {
    width: min(2vw, 2vh);
    height: min(10vw, 10vh);
}
#PROJECTPAGE > .main > .divider {
    z-index: 1;

    order: 0;
    
    position: relative;

    width: 11px;
    max-width: 11px;
    height: 100%;
    margin: 0px -5px;
    
    cursor: ew-resize;
}
#PROJECTPAGE > .main > .divider::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1px;
    height: 100%;

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .divider::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 20px;

    background-color: var(--v4);

    transition: width var(--t), height var(--t), background-color var(--t);
}
#PROJECTPAGE > .main > .divider:hover::after {
    width: 5px;

    background-color: var(--v8);
}
#PROJECTPAGE > .main > .divider.this::after {
    height: 100%;

    background-color: var(--a);
}
#PROJECTPAGE > .main > .side {
    order: -1;

    width: calc(var(--side) - 1px);
    max-width: calc(var(--side) - 1px);
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .side > .meta {
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v4);

    text-align: left;
    font-size: 12px;
}
#PROJECTPAGE > .main > .side > .meta > button {
    --bg: transparent;
    --fg: var(--v4);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v3);

    padding: 0px;

    aspect-ratio: 1 / 1;
}
#PROJECTPAGE > .main > .side > .meta > button > .tooltip {
    padding: 10px;

    text-align: left;
    font-size: 12px;
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
}
#PROJECTPAGE > .main > .side > .meta > button > .tooltip * {
    font-family: monospace;
}
#PROJECTPAGE > .main > .side > .meta > button > .tooltip > span:first-of-type {
    font-weight: 700;
}
#PROJECTPAGE > .main > .side > .section {
    --h: 100px;

    width: 100%;
    max-width: 100%;
    height: 22px;
    max-height: 22px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    transition: height var(--t), max-height var(--t);
}
#PROJECTPAGE > .main > .side > .section.this {
    height: var(--h);
    max-height: var(--h);
}
#PROJECTPAGE > .main > .side > .section > button {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: transparent;
    color: var(--v7);

    text-align: left;
    font-size: 12px;
    font-weight: 700;

    transition: color var(--t);
}
#PROJECTPAGE > .main > .side > .section > button:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .main > .side > .section > button:disabled {
    color: var(--v4);
}
#PROJECTPAGE > .main > .side > .section > button > ion-icon {
    transform: rotate(0deg);

    transition: transform var(--t);
}
#PROJECTPAGE > .main > .side > .section.this > button > ion-icon {
    transform: rotate(90deg);
}
#PROJECTPAGE > .main > .side > .section > .content {
    max-width: 100%;
    max-height: 0px;
    overflow: auto;

    transition: max-height var(--t);
}
#PROJECTPAGE > .main > .side > .section.this > .content {
    max-height: calc(var(--h) - 22px);
}
#PROJECTPAGE > .main > .side > .section#tools > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
#PROJECTPAGE > .main > .side > .section#tools > .content > button.item {
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;

    border-radius: 5px;

    font-size: 12px;
}
#PROJECTPAGE > .main > .side > .section#tools > .content > button.item:disabled {
    opacity: 50%;

    pointer-events: none;
}
#PROJECTPAGE > .main > .side > .section#tools > .content > button.item > ion-icon {
    font-size: 20px;
}
#PROJECTPAGE > .main > .content {
    order: 1;

    width: calc(100% - var(--side) - 1px);
    max-width: calc(100% - var(--side) - 1px);
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content > .item {
    --w: 0px;
    --h: 0px;
}
#PROJECTPAGE > .main > .content .item.container {
    width: var(--w);
    max-width: var(--w);
    height: var(--h);
    max-height: var(--h);
    overflow: hidden;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.container.x {
    flex-direction: row;
}
#PROJECTPAGE > .main > .content .item.container.y {
    flex-direction: column;
}
#PROJECTPAGE > .main > .content .item.container > .divider {
    z-index: 1;
    
    position: relative;
}
#PROJECTPAGE > .main > .content .item.container > .divider::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .content .item.container.x > .divider {
    width: 11px;
    max-width: 11px;
    height: 100%;
    margin: 0px -5px;

    cursor: ew-resize;
}
#PROJECTPAGE > .main > .content .item.container.x > .divider::before {
    width: 1px;
    height: 100%;
}
#PROJECTPAGE > .main > .content .item.container.y > .divider {
    width: 100%;
    height: 11px;
    max-height: 11px;
    margin: -5px 0px;

    cursor: ns-resize;
}
#PROJECTPAGE > .main > .content .item.container.y > .divider::before {
    width: 100%;
    height: 1px;
}
#PROJECTPAGE > .main > .content .item.container > .divider::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--v4);

    transition: width var(--t), height var(--t), background-color var(--t);
}
#PROJECTPAGE > .main > .content .item.container > .divider:hover::after {
    background-color: var(--v8);
}
#PROJECTPAGE > .main > .content .item.container > .divider.this::after {
    background-color: var(--a);
}
#PROJECTPAGE > .main > .content .item.container.x > .divider::after {
    width: 2px;
    height: 20px;
}
#PROJECTPAGE > .main > .content .item.container.x > .divider:hover::after {
    width: 5px;
}
#PROJECTPAGE > .main > .content .item.container.x > .divider.this::after {
    height: 100%;
}
#PROJECTPAGE > .main > .content .item.container.y > .divider::after {
    width: 20px;
    height: 2px;
}
#PROJECTPAGE > .main > .content .item.container.y > .divider:hover::after {
    height: 5px;
}
#PROJECTPAGE > .main > .content .item.container.y > .divider.this::after {
    width: 100%;
}
#PROJECTPAGE > .main > .content .item.panel {
    --tab: 30px;

    position: relative;

    width: var(--w);
    max-width: var(--w);
    height: var(--h);
    max-height: var(--h);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > button.options {
    --bg: var(--v2);
    --bgh: var(--v2);
    --bgd: var(--v2);

    z-index: 1;

    position: absolute;
    top: calc(var(--tab) / 2);
    right: 0px;
    transform: translateY(-50%);

    height: var(--tab);
}
#PROJECTPAGE > .main > .content .item.panel.collapsed > button.options {
    --bg: var(--v2-0);
    --bgh: var(--v2);
    --bgd: var(--v2-0);

    top: 0px;
    transform: none;

    border-bottom-left-radius: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .top {
    width: 100%;
    max-width: 100%;
    height: var(--tab);
    max-height: var(--tab);
    padding-right: 30px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 1px;

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel.collapsed > .top {
    display: none;
}
#PROJECTPAGE > .main > .content .item.panel > .top::-webkit-scrollbar {
    display: none;
}
#PROJECTPAGE > .main > .content .item.panel > .top > button {
    align-self: center;

    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-left: 5px;
    padding: 0px;

    border-radius: 5px;

    font-size: 12px;
}
#PROJECTPAGE > .main > .content .item.panel > .top > .item {
    position: relative;

    min-width: max-content;
    padding: 7.5px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: var(--v1-8);
    color: var(--v4);
    border-bottom: 1px solid var(--v2);

    font-size: 12px;
    user-select: none;

    transition: color var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .top > .item:hover {
    color: var(--v5);
}
#PROJECTPAGE > .main > .content .item.panel.active > .top > .item {
    color: var(--v7);
}
#PROJECTPAGE > .main > .content .item.panel.active > .top > .item:hover {
    color: var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .top > .item::before {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 1px;

    background-color: var(--a);
}
#PROJECTPAGE > .main > .content .item.panel > .top > .item.this {
    background-color: var(--v1);
    border-bottom: 1px solid var(--v1);
}
#PROJECTPAGE > .main > .content .item.panel.active > .top > .item.this::before {
    content: "";
}
#PROJECTPAGE > .main > .content .item.panel > .top > .item > ion-icon {
    order: 0;
}
#PROJECTPAGE > .main > .content .item.panel > .top > .item > div {
    order: 1;
}
#PROJECTPAGE > .main > .content .item.panel > .top > .item > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    order: 2;

    padding: 0px;
}
#PROJECTPAGE > .main > .content .item.panel > .content {
    position: relative;

    width: 100%;
    max-width: 100%;
    height: calc(100% - var(--tab));
    max-height: calc(100% - var(--tab));
    overflow: hidden;
}
#PROJECTPAGE > .main > .content .item.panel.collapsed > .content {
    height: 100%;
    max-height: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;

    visibility: hidden;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.this {
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .path {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    max-width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v4);

    font-size: 12px;
    user-select: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .path > button.back {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 0px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .path > .divider {
    user-select: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .path > button.item {
    padding: 0px;

    background-color: transparent;
    color: var(--v6);

    transition: color var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .path > button.item:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .path > button.item:disabled {
    color: var(--v4);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .explorer,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .display {
    position: absolute;
    top: 26.5px;
    left: 0px;

    width: 100%;
    max-width: 100%;
    height: calc(100% - 26.5px);
    max-height: calc(100% - 26.5px);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    visibility: hidden;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .explorer.this,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .display.this {
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .explorer > .node {
    max-width: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .display > .item {
    position: relative;

    height: 100%;
    max-height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .display > .item > ion-icon {
    color: var(--v1);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .display > .item > .type {
    position: absolute;
    top: 10px;
    left: 10px;

    color: var(--v4);

    font-size: 14px;
    font-family: monospace;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.browser > .display > .item > .value {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    color: var(--v8);

    font-family: monospace;
    word-break: break-all;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search {
    overflow: hidden;

    min-height: 29px;
    padding-left: 7.5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 5px;
    outline: 1px solid var(--v3);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search > .tags {
    padding-right: 7.5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search > .tags:empty {
    display: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search > .tags > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v7);

    font-size: 12px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search:has(> input:disabled) {
    outline: 1px solid var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search:has(> input:focus-visible) {
    outline: 1px solid var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search > input {
    flex-basis: 100%;

    padding: 7.5px 0px;

    background-color: transparent;
    border-radius: 0px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .search > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    aspect-ratio: 1 / 1;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content > .header {
    padding: 5px;

    color: var(--v4);

    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    user-select: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content > .divider {
    height: 1px;
    margin: 2px 0px;

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content > .item > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 7.5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    border-radius: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content > .item > button:disabled {
    opacity: 50%;

    pointer-events: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content > .item > button > ion-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.add > .content > .item > button > .info {
    opacity: 50%;

    flex-basis: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table {
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column {
    min-width: 250px;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    background-color: var(--v2);
    border-right: 1px solid var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .header {
    z-index: 1;

    position: sticky;
    top: 0px;

    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    max-height: 30px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    background-color: var(--v1);
    border-bottom: 1px solid var(--v2);
    color: var(--v6);

    font-size: 12px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .header > div {
    flex-basis: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .header > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    min-width: max-content;
    padding: 0px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .entry {
    position: relative;

    min-width: 100%;
    max-width: 100%;

    background-color: var(--v1);
    color: var(--v8);
    border-bottom: 1px solid var(--v2);

    font-size: 12px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .entry:hover,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .entry.this {
    background-color: var(--v1-8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .entry > .value {
    position: sticky;
    top: 30px;
    left: 150px;

    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    max-height: 30px;
    padding: 5px;

    font-family: monospace;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .entry > .value.ts {
    position: absolute;
    top: 0px;
    left: 0px;

    color: var(--v6);

    background-color: var(--v2-8);
    visibility: hidden;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column > .entry.this > .value.ts {
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column.side {
    z-index: 2;

    position: sticky;
    left: 0px;

    min-width: 150px;
    max-width: 150px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column.side > .header {
    padding: 0px;
    
    align-items: stretch;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column.side > .header > input {
    flex-basis: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column.side > .header > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column.side > .header > button.this {
    --bg: var(--cg3);
    --bgh: var(--cg3);
    --bgd: var(--cg3);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column.side > .entry {
    min-height: 30px;
    max-height: 30px;
    padding: 5px;

    color: var(--cg);

    font-family: monospace;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.table > .column.side > .entry:hover {
    background-color: var(--v1) !important;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.webview > .nav {
    width: 100%;
    max-width: 100%;
    height: 25px;
    max-height: 25px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.webview > .nav > button {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: var(--v2-8);
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v6);

    aspect-ratio: 1 / 1;

    border-radius: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.webview > .nav > input {
    flex-basis: 100%;

    background-color: var(--v2-8);
    color: var(--v8);
    outline: 1px solid var(--v3);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.webview > .nav > input:disabled {
    outline: 1px solid var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.webview > .nav > input:focus-visible {
    outline: 1px solid var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.webview > webview {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);

    background-color: #fff;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .status {
    position: relative;

    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    color: var(--v4);

    font-size: 12px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .status::before {
    content: "";
    
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateY(-50%);

    width: 100%;
    height: 2px;

    background-color: var(--a);
    opacity: 0%;
    visibility: hidden;

    animation: loading-line 1s linear infinite;

    transition: opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger.loading_ > .status::before {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .status > .space {
    flex-basis: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .status > * {
    min-width: max-content;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .status > ion-icon {
    min-width: 1em;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 33.33px);
    max-height: calc(100% - 33.33px);
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item {
    position: relative;

    padding: 7.5px;
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: var(--v2-0);
    color: var(--v5);

    font-size: 14px;

    transition: background-color var(--t), color var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item::before {
    content: "";
    
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    height: 2px;

    background-color: var(--a);
    opacity: 0%;
    visibility: hidden;

    animation: loading-line 1s linear infinite;

    transition: opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.loading_::before {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item::after {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);

    width: 1px;
    height: 100%;

    background-color: var(--a);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.selected::after {
    content: "";
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item:hover {
    background-color: var(--v2-8);
    color: var(--v6);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.downloaded {
    background-color: var(--v2-8);
    color: var(--v7);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.downloaded:hover {
    background-color: var(--v2);
    color: var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.deprecated {
    background-color: var(--cr-8);
    color: var(--v7);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.deprecated:hover {
    background-color: var(--cr);
    color: var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item > .name {
    min-width: max-content;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item > .space {
    flex-basis: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item > .nav > button {
    --bg: transparent;
    --fg: var(--v5);
    --bgh: transparent;
    --fgh: var(--v6);
    --bgd: transparent;
    --fgd: var(--v4);

    padding: 0px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.downloaded > .nav > button {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v6);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logger > .logs > .item.deprecated > .nav > button {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v6);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks {
    --shift: 50px;

    padding: 0px;
    overflow: hidden;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .actions {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(calc(-1 * var(--shift)));

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 10px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks.home > .actions {
    transform: translateX(0px);

    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks:not(.this) > .actions {
    display: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .actions > button {
    width: 300px;
    max-width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    border-radius: 5px;

    font-size: 16px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .actions > button > ion-icon {
    padding: 5px;

    background-color: var(--cc);
    color: var(--bg);
    border-radius: 100%;

    font-size: 20px;

    transition: background-color var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .actions > button:disabled > ion-icon {
    background-color: var(--cc3);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(var(--shift));

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks:not(.home) > .action.this {
    transform: translateX(0px);

    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks:not(.this) > .action {
    display: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action > .header {
    padding-bottom: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    color: var(--v8);
    border-bottom: 1px solid var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action > .header > button {
    --bg: transparent;
    --bgh: var(--v2-8);
    --bgd: transparent;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action > .content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .header {
    padding: 5px 0px;
    margin-bottom: 5px;

    color: var(--v4);

    border-bottom: 1px solid var(--v2);

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .conflict {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v8);

    font-size: 14px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .conflict > button {
    padding: 5px;

    gap: 5px;

    border-radius: 5px;

    font-size: 14px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .prefix {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v8);

    font-size: 14px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs {
    position: relative;

    max-width: 100%;
    height: 100%;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs::before {
    content: "No logs selected...";

    display: none;

    color: var(--v2);

    font-size: 14px;
    font-style: italic;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs.empty:before {
    display: block;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > div:not(.dragbox) {
    width: min(100%, max(50%, 500px));
    padding: 7.5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: var(--v2-8);
    color: var(--v8);

    font-size: 14px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > div:not(.dragbox) > div {
    flex-basis: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > div:not(.dragbox) > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 0px;

    min-width: max-content;
    aspect-ratio: 1 / 1;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    background-color: var(--a-4);
    backdrop-filter: blur(3px);

    opacity: 0%;
    visibility: hidden;

    pointer-events: none;

    transition: opacity calc(0.5 * var(--t)), visibility calc(0.5 * var(--t));
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox.this {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 10px);
    height: calc(100% + 10px);

    border: 5px solid var(--v8);

    transition: width var(--t), height var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox.this::before {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(75%);

    background-color: var(--v8);

    transition: transform var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox.this > div {
    transform: translate(-50%, -50%) scale(100%);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox > div:nth-child(1) {
    width: min(calc(0.10 * var(--w)), calc(0.10 * var(--h)));
    height: min(calc(0.02 * var(--w)), calc(0.02 * var(--h)));
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > .logs > .dragbox > div:nth-child(2) {
    width: min(calc(0.02 * var(--w)), calc(0.02 * var(--h)));
    height: min(calc(0.10 * var(--w)), calc(0.10 * var(--h)));
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.logworks > .action.merge > .content > button {
    align-self: flex-start;

    padding: 5px 10px;

    border-radius: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas {
    --options: 100%;

    padding: 0px;
    overflow: hidden;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.open {
    --options: 0%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas:not(.open).half-open {
    --options: 50%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .open {
    position: absolute;
    top: var(--options);
    left: 50%;
    transform: translate(-50%, -100%);

    width: 50px;
    aspect-ratio: 2 / 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: var(--v1-a);
    border: 1px solid var(--v3);
    border-bottom: none;
    border-radius: 50px 50px 0px 0px;

    transition: top var(--t), background-color var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .open:hover {
    background-color: var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.drag > .open {
    cursor: ns-resize;

    transition: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.open > .open {
    z-index: 3;

    transform: translate(-50%, 0%);

    border-radius: 0px 0px 50px 50px;
    border: 1px solid var(--v3);
    border-top: none;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .open:hover::before {
    background-color: var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .open > ion-icon {
    z-index: 2;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--v7);

    transition: top var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content {
    position: absolute;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > canvas {
    position: absolute;
    top: 0%;
    left: 0%;

    transform-origin: 0% 0%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css {
    position: absolute;
    top: 0%;
    left: 0%;

    transform-origin: 0% 0%;

    pointer-events: none;

    font-size: 12px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css > * {
    pointer-events: auto;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css > .label > div {
    padding: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 15px;

    background-color: var(--v1-a);
    color: var(--v8);
    border: 3px solid var(--v3);

    font-size: 3em;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css > .label > div > .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 15px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css > .label > div > .info > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css > .label > div > .info > .dir {
    flex-direction: column;
    align-items: stretch;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css > .label > div > .info > div > div {
    flex-basis: 100%;

    font-family: monospace;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .content > .css > .label > div > .info > div.dir > div {
    flex-basis: auto;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options {
    z-index: 1;

    position: absolute;
    top: var(--options);
    left: 0%;

    width: 100%;
    max-width: 100%;
    height: max(50%, calc(100% - var(--options)));
    max-height: max(50%, calc(100% - var(--options)));
    padding: 10px;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    background-color: var(--v1-a);

    transition: top var(--t), height var(--t), max-height var(--t), padding var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.drag > .options {
    transition: padding var(--t);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.half-open > .options::after,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.drag > .options::after {
    content: "";

    z-index: -1;

    position: absolute;
    bottom: 100%;
    left: 0%;

    width: 100%;
    height: 1px;

    background: linear-gradient(90deg, var(--v3), var(--v3) calc(50% - 25px), transparent calc(50% - 25px), transparent calc(50% + 25px), var(--v3) calc(50% + 25px), var(--v3));
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.open > .options {
    padding-top: 35px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section {
    z-index: 1;

    flex-basis: 100%;

    max-width: calc((100% - 20px) / 3);
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section input {
    outline: 1px solid var(--v3);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section input:disabled {
    outline: 1px solid var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section input:focus-visible {
    outline: 1px solid var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .content > .info {
    position: absolute;
    bottom: 10px;
    left: 10px;

    color: var(--v8-4);

    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;

    visibility: hidden;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .content.showinfo > .info {
    visibility: inherit;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list {
    position: relative;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list.empty::before {
    content: "Drag some topics here";

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: var(--v3);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list.empty::before {
    content: "Drag some poses here";

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: var(--v3);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section > .header {
    color: var(--v8);

    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item.disabled {
    opacity: 50%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 0px;

    justify-content: flex-start;
    gap: 10px;

    border-radius: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display > div {
    flex-basis: 100%;

    text-align: left;
    font-size: 14px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item.disabled > button.display > div {
    text-decoration: line-through var(--v8) 1px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > .content {
    position: relative;

    padding: 5px;
    padding-left: 20px;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > .content::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 10px;

    width: 1px;
    height: 100%;
    transform: translateX(-50%);

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item.open > .content {
    display: flex;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker > button,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button:not(.custom) {
    height: 15px;
    aspect-ratio: 1 / 1;

    border: 1px solid transparent;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker > button.this,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button:not(.custom).this {
    border: 1px solid var(--v8);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav {
    position: relative;

    margin-bottom: 10px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav::before {
    content: "";

    position: absolute;
    bottom: -7.5px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 1px;

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 2px;

    border-radius: 5px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button.this,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button.this {
    --bg: var(--v8);
    --fg: var(--v1);
    --bgh: var(--v8);
    --fgh: var(--v4);
    --bgd: var(--v6);
    --fgd: var(--v1);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info > span:not(.units),
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info > span:not(.units),
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info > span:not(.units) {
    flex-basis: 100%;
    
    color: var(--v8);

    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info > span.units,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info > span.units,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info > span.units {
    color: var(--v6);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button.custom {
    --bg: transparent;
    --fg: var(--cr);
    --bgh: transparent;
    --fgh: var(--cr5);
    --bgd: transparent;
    --fgd: var(--cr2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button.custom.this {
    --fg: var(--cg);
    --fgh: var(--cg5);
    --fgd: var(--cg2);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > button.display,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > button {
    --use-o: 1;

    position: relative;

    padding: 5px;

    border-radius: 5px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > button.display > ion-icon,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > button > ion-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field.has > .nothas {
    display: none !important;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .v,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .v {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .v > input,
#PROJECTPAGE > .main > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .v > input {
    flex-basis: 100%;
}
#overlay {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    overflow: hidden;

    pointer-events: none;
}
#overlay > #block {
    position: absolute;

    background-color: var(--a-4);
    border: 1px solid var(--a);
    border-radius: 5px;
    visibility: hidden;

    user-select: none;
}
#overlay > #block.this {
    visibility: inherit;
}
#overlay > #graphtooltip {
    position: absolute;
    padding: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    gap: 5px;

    background-color: var(--v1-a);
    border: 1px solid var(--v3);
    visibility: hidden;

    font-size: 12px;
}
#overlay > #graphtooltip.this {
    visibility: inherit;
}
#overlay > #graphtooltip > .name {
    color: var(--v8);
}
#overlay > #graphtooltip > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v8);
}
#overlay > #graphtooltip > .content * {
    font-family: monospace;
}
