#PROJECTSPAGE > .nav > .nav > .templates {
    transform-origin: 0% 50%;
    transform: translateX(-20px) scale(50%);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#PROJECTSPAGE > .nav > .nav:hover > .templates {
    transform: translateX(0px) scale(100%);

    opacity: 100%;
    visibility: inherit;
}
#PROJECTSPAGE > .nav > .nav > .templates > button {
    width: max-content;
    padding: 10px;

    border-radius: 5px;
}

#PROJECTPAGE > .main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .divider {
    z-index: 100;

    position: relative;

    width: 11px;
    height: 100%;
    margin: 0px -5px;

    cursor: ew-resize;
}
#PROJECTPAGE > .main > .divider::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1px;
    height: 100%;

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .divider::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 20px;

    background-color: var(--v4);

    transition: width var(--t), height var(--t), background-color var(--t);
}
#PROJECTPAGE > .main > .divider:hover::after {
    width: 5px;

    background-color: var(--v8);
}
#PROJECTPAGE > .main > .divider.this::after {
    height: 100%;

    background-color: var(--a);
}
#PROJECTPAGE > .main > .display {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    user-select: none;
}
#PROJECTPAGE > .main > .display > .blockage {
    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200vw;
    height: 200vh;

    background-color: var(--v0-8);
    visibility: hidden;
    
    pointer-events: none;
}
#PROJECTPAGE > .main > .display.choose > .blockage {
    visibility: inherit;
    
    pointer-events: auto;
}
#PROJECTPAGE > .main > .display > .odom {
    z-index: 2;

    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    display: none;

    background-color: transparent;
}
#PROJECTPAGE > .main > .display > .odom.this {
    display: block;
}
.global.item {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.global.item.selectable {
    outline: 0px solid var(--v8);
    border-radius: 100%;
}
.global.item.selectable.this {
    outline: 1px solid var(--v8);
}
.global.item.selectable > .button {
    padding: 0px;
    aspect-ratio: 1 / 1;

    border-radius: 100%;

    cursor: move;
}
.global.item.selectable > .button {
    cursor: inherit;
}
.global.item.selectable.node {
    --dir-vel: 0deg;
    --dir-head: 0deg;
    --dist: 50px;
    --body-w: 50px;
    --body-h: 50px;
}
.global.item.selectable.node > .button {
    background-color: var(--cb);
    color: var(--v8);

    width: 15px;
}
.global.item.selectable.node > .arrow {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(var(--dist), -50%);

    width: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;

    background-color: var(--v8);
    color: var(--v1);
}
.global.item.selectable.node > .arrow::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);

    width: calc(var(--dist) - 7.5px - 10px);
    height: 1px;

    background-color: var(--v8);

    pointer-events: none;
}
.global.item.selectable.obstacle {
    --radius: 25px;
    --dir: 0deg;
}
.global.item.selectable.obstacle > .button {
    background-color: var(--cr);
    color: var(--v8);

    width: calc(var(--radius) * 2);
}
.global.item.selectable.obstacle > .radius {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    width: var(--radius);
    height: 1px;

    background-color: var(--v8);
}
.global.item.selectable.obstacle > .button.radiusdrag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(var(--radius) - 50%), -50%);

    width: 10px;
    aspect-ratio: 1 / 1;

    background-color: var(--v8);
    color: var(--v1);
    border-radius: 100%;

    cursor: inherit;
}
#PROJECTPAGE > .main > .display > .choosenav {
    z-index: 3;

    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    visibility: hidden;
}
#PROJECTPAGE > .main > .display.choose > .choosenav {
    visibility: inherit;
}
#PROJECTPAGE > .main > .display > .choosenav > button {
    padding: 5px 10px;

    border-radius: 5px;
}
#PROJECTPAGE > .main > .edit {
    --bottom: 85px;

    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
}
#PROJECTPAGE > .main > .edit > .nav {
    height: var(--bottom);
    max-height: var(--bottom);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
}
#PROJECTPAGE > .main > .edit > .nav > button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: transparent;
    color: var(--v7);

    font-size: 14px;

    transition: color var(--t);
}
#PROJECTPAGE > .main > .edit > .nav > button:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .main > .edit > .nav > button:disabled {
    color: var(--v6);
}
#PROJECTPAGE > .main > .edit > .nav > button.this {
    color: var(--a5);
}
#PROJECTPAGE > .main > .edit > .nav > button.this:not(:disabled):hover {
    color: var(--a6);
}
#PROJECTPAGE > .main > .edit > .nav > button.this:disabled {
    color: var(--a4);
}
#PROJECTPAGE > .main > .edit > .nav > button > ion-icon {
    font-size: 20px;
}
#PROJECTPAGE > .main > .edit > .content {
    position: relative;

    height: calc(100% - var(--bottom));
    max-height: calc(100% - var(--bottom));

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .main > .edit > .content > .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;

    visibility: hidden;
}
#PROJECTPAGE > .main > .edit > .content > .panel.this {
    visibility: inherit;
}
#PROJECTPAGE > .main > .edit > .content > .panel > .form {
    padding: 0px;
}
#PROJECTPAGE > .main > .edit > .content > .panel > .header {
    align-self: stretch;

    margin-top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v8);

    font-size: 14px;
    font-weight: 550;

    user-select: none;
}
#PROJECTPAGE > .main > .edit > .content > .panel > .header.sub {
    font-weight: 400;
}
#PROJECTPAGE > .main > .edit > .content > .panel > .header > span:first-child {
    flex-basis: 100%;
}
#PROJECTPAGE > .main > .edit > .content > .panel > .header > span.units {
    min-width: max-content;

    color: var(--v6);

    font-style: italic;
}
#objectspanel > #spawnbox {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
}
#objectspanel > #spawnbox > button.delete {
    z-index: 1;

    position: absolute;
    top: 0%;
    left: 0%;
    transform-origin: 0% 0%;
    transform: scale(0%);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 5px;

    font-size: 30px;

    transition: --btn-c-size-v var(--t), transform var(--t), background var(--t), color var(--t), border var(--t);
}
#objectspanel >  #spawnbox.delete > button.delete {
    transform: scale(100%);
}
#objectspanel > #spawnbox > button.item {
    transform: translateY(-0px);

    width: 100px;
    padding: 0px;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background-color: transparent;
    border: 1px solid var(--v3);
    border-radius: 5px;
    filter: drop-shadow(0px 0px 0px var(--v1-8));

    cursor: grab;

    transition: transform var(--t), filter var(--t);
}
#objectspanel > #spawnbox > button.item:not(:disabled):hover {
    transform: translateY(-5px);

    filter: drop-shadow(0px 5px 5px var(--v1-8));
}
#objectspanel > #spawnbox > button.item > .icon {
    flex-basis: 100%;

    position: relative;
}
#objectspanel > #spawnbox > button.item > .name {
    padding: 5px;

    background-color: var(--v2);
    color: var(--v8);

    transition: color var(--t);
}
#objectspanel > #spawnbox > button.item:disabled > .name {
    color: var(--v6);
}
#objectspanel .forany:not(.this),
#objectspanel .fornode:not(.this),
#objectspanel .forobstacle:not(.this) {
    display: none !important;
}
#pathspanel > #pathsbox {
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#pathspanel > #pathsbox > .item {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 5px;
    border: 1px solid var(--v3);
}
#pathspanel > #pathsbox > .item.this {
    border: 1px solid var(--cg);
}
#pathspanel > #pathsbox > .item > input {
    flex-basis: 100%;

    padding: 0px;

    background-color: transparent;
    border-radius: 0px;
}
#pathspanel > #pathsbox > .item > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 0px;

    background-color: transparent;
    color: var(--v7);

    transition: color var(--t);
}
#pathspanel > #pathsbox > .item > button:not(:disabled):hover {
    color: var(--v8);
}
#pathspanel > #pathsbox > .item > button:disabled {
    color: var(--v4);
}
#pathspanel > button#activatebtn {
    --use-o: 1;
    
    padding: 10px;

    border-radius: 5px;
}
