#titlebar {
    gap: 0px;
}
#titlebar > .logo {
    padding: 10px;

    font-size: 16px;

    background-color: transparent;

    cursor: pointer;
}
#titlebar > button.nav {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    align-self: stretch;

    padding: 10px 20px;

    gap: 10px;

    font-size: 12px;
}
#titlebar > #projectinfo {
    align-self: stretch;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > button.display {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    min-width: max-content;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#titlebar > #projectinfo > .content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -10px);

    width: 200px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px var(--v0-8));
    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#titlebar > #projectinfo.this > .content {
    transform: translate(-50%, 0px);

    opacity: 100%;
    visibility: inherit;
}
#titlebar > #projectinfo > .content > input {
    padding: 5px;

    background-color: var(--v1-8);
    border-radius: 5px;
}
#titlebar > #projectinfo > .content > .divider {
    height: 2px;

    background-color: var(--v3);
}
#titlebar > #projectinfo > .content > div:not(.divider) {
    color: var(--v8);

    font-size: 12px;
}
#titlebar > #projectinfo > .content > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > .content > .nav > button {
    flex-basis: 100%;

    padding: 10px;

    border-radius: 10px;
}
#titlebar > #projectinfo > .content > .nav > button#infodelete {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr2);
    --fgd: var(--v6);
}
#titlebar > .space {
    flex-basis: 100%;
}
#titlebar > #save {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 10px;

    font-size: 12px;
}
#titlebar > button.nav:not(.forproject) {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 10px;
    aspect-ratio: 1 / 1;
}
#titlebar > button.nav:not(.forproject).this {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a3);
    --fgd: var(--v6);
}
#titlebar > :last-child {
    margin-left: 10px;
}

#mount {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#mount > .page {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#TITLEPAGE {
    background: var(--gradient);
}
#TITLEPAGE > .title {
    font-size: 50px;
}
#TITLEPAGE > .title > span:first-child {
    color: var(--a);
}
#TITLEPAGE > .title > span:last-child {
    color: var(--v8);
}
#TITLEPAGE > .subtitle {
    color: var(--v7);

    font-size: 16px;
}
#TITLEPAGE > .nav {
    width: min(300px, 100%);
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#TITLEPAGE > .nav > button {
    position: relative;

    padding: 10px 30px;

    border-radius: 10px;

    font-size: 16px;
}
#TITLEPAGE > .nav > button.special {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v6);
}
#TITLEPAGE > .nav > button > ion-icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%) translateX(-0px);

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#TITLEPAGE > .nav > button:not(:disabled):hover > ion-icon {
    transform: translateY(-50%) translateX(-10px);

    opacity: 100%;
    visibility: inherit;
}

#PROJECTSPAGE {
    padding: 0px 160px !important;

    justify-content: flex-start !important;

    align-items: stretch !important;
}
#PROJECTSPAGE > .title {
    margin-top: 20px;

    color: var(--v8);

    text-align: left;
    font-size: 50px;
}
#PROJECTSPAGE > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#PROJECTSPAGE > .nav > .nav {
    flex-basis: 75%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .nav > .nav > button {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v6);

    width: max-content;
    padding: 10px 20px;

    gap: 10px;

    border-radius: 10px;
}
#PROJECTSPAGE > .nav > .nav > .templates {
    transform-origin: 0% 50%;
    transform: translateX(-20px) scale(50%);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#PROJECTSPAGE > .nav > .nav:hover > .templates {
    transform: translateX(0px) scale(100%);

    opacity: 100%;
    visibility: inherit;
}
#PROJECTSPAGE > .nav > .nav > .templates > button {
    width: max-content;
    padding: 10px;

    border-radius: 10px;
}
#PROJECTSPAGE > .nav > .search {
    flex-basis: 25%;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    background-color: var(--v8);
    border-radius: 10px;
}
#PROJECTSPAGE > .nav > .search > input {
    flex-basis: 100%;

    padding: 5px;

    background-color: transparent;
    color: var(--v1);
}
#PROJECTSPAGE > .nav > .search > input::placeholder {
    color: var(--v6);
}
#PROJECTSPAGE > .nav > .search > button {
    --bg: var(--v8);
    --fg: var(--v1);
    --bgh: var(--v7);
    --fgh: var(--v1);
    --bgd: var(--v8);
    --fgd: var(--v4);

    width: 25px;
    min-width: 25px;
    height: 25px;
    margin-right: 5px;

    border-radius: 100%;
}
#PROJECTSPAGE > .content {
    padding: 2px;
    margin-top: 20px;

    flex-basis: 100%;

    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .content > .empty {
    color: var(--v2);

    text-align: center;
    font-style: italic;
}
#PROJECTSPAGE > .content > .item {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
    outline: 2px solid var(--a-0);

    transition: outline var(--t);
}
#PROJECTSPAGE > .content > .item:hover {
    outline: 2px solid var(--a);
}
#PROJECTSPAGE > .content > .item > .image {
    height: 100px;
    aspect-ratio: 1 / 1;

    background-color: var(--v1-8);
    border-radius: 10px;

    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#PROJECTSPAGE > .content > .item > .info {
    flex-basis: 100%;

    padding-left: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .content > .item > .info > .name {
    color: var(--v8);
}
#PROJECTSPAGE > .content > .item > .info > .time {
    color: var(--v4);
}
#PROJECTSPAGE > .content > .item > .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#PROJECTSPAGE > .content > .item > .nav > button {
    --bg: var(--v2);
    --bgh: var(--v3);
    --bgd: var(--v2);

    padding: 10px 20px;

    gap: 10px;

    border-radius: 10px;
}

#PROJECTPAGE {
    flex-direction: row !important;
    align-items: stretch !important;
    gap: 0px !important;
}
#PROJECTPAGE > .divider {
    padding: 0px 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: ew-resize;
}
#PROJECTPAGE > .divider::before {
    content: "";

    width: 2px;
    height: 20px;

    background-color: var(--v4);
    border-radius: 2px;

    transition: height var(--t), background-color var(--t);
}
#PROJECTPAGE > .divider:hover::before {
    background-color: var(--v8);
}
#PROJECTPAGE > .divider.this::before {
    height: 100%;

    background-color: var(--a);
}
#PROJECTPAGE > .display {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border: 2px solid var(--v2);
    outline: none;
    border-radius: 10px;

    user-select: none;
}
#PROJECTPAGE > .display > .blockage {
    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200vw;
    height: 200vh;

    background-color: var(--v0-8);
    visibility: hidden;
    
    pointer-events: none;
}
#PROJECTPAGE > .display.choose > .blockage {
    visibility: inherit;
    
    pointer-events: auto;
}
#PROJECTPAGE > .display > canvas {
    z-index: 2;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.global.item {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.global.item.selectable {
    outline: 0px solid var(--v8);
    border-radius: 100%;
}
.global.item.selectable.this {
    outline: 2px solid var(--v8);
}
.global.item.selectable > .button {
    padding: 0px;
    aspect-ratio: 1 / 1;

    border-radius: 100%;

    cursor: move;
}
.global.item.selectable > .button {
    cursor: inherit;
}
.global.item.selectable.node {
    --dir-vel: 0deg;
    --dir-head: 0deg;
    --dist: 50px;
    --body-w: 50px;
    --body-h: 50px;
}
.global.item.selectable.node > .button {
    background-color: var(--cb);
    color: var(--v8);

    width: 15px;
}
.global.item.selectable.node > .arrow {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(var(--dist), -50%);

    width: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;

    background-color: var(--v8);
    color: var(--v1);
}
.global.item.selectable.node > .arrow::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);

    width: calc(var(--dist) - 7.5px - 10px);
    height: 2px;

    background-color: var(--v8);

    pointer-events: none;
}
.global.item.selectable.obstacle {
    --radius: 25px;
    --dir: 0deg;
}
.global.item.selectable.obstacle > .button {
    background-color: var(--cr);
    color: var(--v8);

    width: calc(var(--radius) * 2);
}
.global.item.selectable.obstacle > .radius {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    width: var(--radius);
    height: 2px;

    background-color: var(--v8);
}
.global.item.selectable.obstacle > .button.radiusdrag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(var(--radius) - 50%), -50%);

    width: 10px;
    aspect-ratio: 1 / 1;

    background-color: var(--v8);
    color: var(--v1);
    border-radius: 100%;

    cursor: inherit;
}
#PROJECTPAGE > .display > .nav {
    z-index: 3;
    
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 100%;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .display > .nav > .progress {
    --progress: 50%;

    position: relative;

    width: 100%;
    height: 5px;

    background-color: var(--v3);
}
#PROJECTPAGE > .display > .nav > .progress::before {
    content: "";

    position: absolute;
    top: 50%;
    left: var(--progress);
    transform: translate(-50%, -50%);

    width: 0px;
    aspect-ratio: 1 / 1;

    background-color: var(--cr);
    border-radius: 100%;

    transition: width var(--t);
}
#PROJECTPAGE > .display > .nav > .progress:hover::before {
    width: 10px;
}
#PROJECTPAGE > .display > .nav > .progress::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    width: var(--progress);
    height: 100%;

    background-color: var(--cr);
}
#PROJECTPAGE > .display > .nav > .nav {
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .display > .nav > .nav > button {
    --bg: transparent;
    --fg: var(--v3);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v2);

    padding: 0px;
    aspect-ratio: 1 / 1;

    font-size: 16px;
}
#PROJECTPAGE > .display > .nav > .nav > div {
    min-width: max-content;

    color: var(--v3);

    font-family: monospace;
    font-size: 12px;
}
#PROJECTPAGE > .display > .choosenav {
    z-index: 3;

    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    visibility: hidden;
}
#PROJECTPAGE > .display.choose > .choosenav {
    visibility: inherit;
}
#PROJECTPAGE > .display > .choosenav > button {
    padding: 10px;

    border-radius: 5px;
}
#PROJECTPAGE > .display > .choosenav > button#donebtn {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v4);
}
#PROJECTPAGE > .display > .choosenav > button#cancelbtn {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr2);
    --fgd: var(--v4);
}
#PROJECTPAGE > .edit {
    --bottom: 85px;

    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
    border: 2px solid var(--v2);
}
#PROJECTPAGE > .edit > .nav {
    height: var(--bottom);
    max-height: var(--bottom);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
}
#PROJECTPAGE > .edit > .nav > button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: transparent;
    color: var(--v7);

    font-size: 14px;

    transition: color var(--t);
}
#PROJECTPAGE > .edit > .nav > button:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .edit > .nav > button:disabled {
    color: var(--v6);
}
#PROJECTPAGE > .edit > .nav > button.this {
    color: var(--a);
}
#PROJECTPAGE > .edit > .nav > button.this:not(:disabled):hover {
    color: var(--a6);
}
#PROJECTPAGE > .edit > .nav > button.this:disabled {
    color: var(--a2);
}
#PROJECTPAGE > .edit > .nav > button > ion-icon {
    font-size: 20px;
}
#PROJECTPAGE > .edit > .content {
    position: relative;

    height: calc(100% - var(--bottom));
    max-height: calc(100% - var(--bottom));

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .edit > .content > .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    visibility: hidden;
}
#PROJECTPAGE > .edit > .content > .panel.this {
    visibility: inherit;
}
#PROJECTPAGE > .edit > .content > .panel > .header {
    align-self: stretch;

    margin-top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    color: var(--v8);

    font-size: 14px;
    font-weight: 550;
}
#PROJECTPAGE > .edit > .content > .panel > .header.sub {
    font-weight: 400;
}
#PROJECTPAGE > .edit > .content > .panel > .header > span:first-child {
    flex-basis: 100%;
}
#PROJECTPAGE > .edit > .content > .panel > .header > span.units {
    min-width: max-content;

    color: var(--v6);

    font-style: italic;
}
#PROJECTPAGE > .edit > .content > .panel > .input,
#PROJECTPAGE > .edit > .content > .panel > .input.d3 > div {
    align-self: stretch;

    max-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .edit > .content > .panel > .input.d3 {
    flex-direction: column;
}
#PROJECTPAGE > .edit > .content > .panel > .input > input,
#PROJECTPAGE > .edit > .content > .panel > .input.d3 > div > input {
    flex-basis: 100%;
}
#objectspanel > #spawnbox {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
}
#objectspanel > #spawnbox > button.delete {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--cr5);
    --fgh: var(--v8);
    --bgd: var(--cr3);
    --fgd: var(--v6);
    
    z-index: 1;

    position: absolute;
    top: 0%;
    left: 0%;
    transform-origin: 0% 0%;
    transform: scale(0%);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 10px;

    font-size: 30px;

    transition: --btn-c-size-v var(--t), transform var(--t), background var(--t), color var(--t);
}
#objectspanel >  #spawnbox.delete > button.delete {
    transform: scale(100%);
}
#objectspanel > #spawnbox > button.item {
    transform: translateY(-0px);

    width: 100px;
    padding: 0px;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background-color: transparent;
    border: 2px solid var(--v2);
    border-radius: 10px;
    filter: drop-shadow(0px 0px 0px var(--v1-8));

    cursor: grab;

    transition: transform var(--t), filter var(--t);
}
#objectspanel > #spawnbox > button.item:not(:disabled):hover {
    transform: translateY(-5px);

    filter: drop-shadow(0px 5px 5px var(--v1-8));
}
#objectspanel > #spawnbox > button.item > .icon {
    flex-basis: 100%;

    position: relative;
}
#objectspanel > #spawnbox > button.item > .name {
    padding: 5px;

    background-color: var(--v2);
    color: var(--v8);

    transition: color var(--t);
}
#objectspanel > #spawnbox > button.item:disabled > .name {
    color: var(--v6);
}
#objectspanel .forany:not(.this),
#objectspanel .fornode:not(.this),
#objectspanel .forobstacle:not(.this) {
    display: none !important;
}
#objectspanel > #heading > .dragbox {
    --dir: 0deg;

    z-index: 0;
    position: relative;

    max-width: 150px;
    aspect-ratio: 1 / 1;

    background-color: var(--v1);
    border-radius: 100%;
}
#objectspanel > #heading > .dragbox::before {
    content: "";
    z-index: -1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 2px;

    background-color: var(--v2-8);
}
#objectspanel > #heading > .dragbox::after {
    content: "";
    z-index: -1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 100%;

    background-color: var(--v2-8);
}
#objectspanel > #heading > .dragbox > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    transform: rotate(var(--dir)) translateY(-50%);

    width: 50%;
}
#objectspanel > #heading > .dragbox > div::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);

    width: calc(100% - 5px);
    height: 2px;

    background-color: var(--v8);
}
#objectspanel > #heading > .dragbox > div > button {
    --bg: var(--v8);
    --fg: var(--v1);
    --bgh: var(--a);
    --fgh: var(--v8);
    --bgd: var(--v6);
    --fgd: var(--v1);

    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);

    width: 10px;
    aspect-ratio: 1 / 1;
    padding: 0px;

    border-radius: 100%;
}
#objectspanel > #itemcontrols {
    align-self: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#objectspanel > #itemcontrols > button {
    flex-basis: 100%;

    padding: 10px;

    border-radius: 10px;
}
#objectspanel > #itemcontrols > button#removebtn {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr2);
    --fgd: var(--v6);
}
#pathspanel #pathaddbtn {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v6);
}
#pathspanel > #pathsbox {
    flex-basis: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#pathspanel > #pathsbox > .item {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 10px;
    border: 2px solid transparent;
}
#pathspanel > #pathsbox > .item.this {
    border: 2px solid var(--cg);
}
#pathspanel > #pathsbox > .item > input {
    flex-basis: 100%;

    padding: 0px;

    background-color: transparent;
    border-radius: 0px;
}
#pathspanel > #pathsbox > .item > input::placeholder {
    color: var(--v4);
}
#pathspanel > #pathsbox > .item > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 0px;

    background-color: transparent;
    color: var(--v7);

    transition: color var(--t);
}
#pathspanel > #pathsbox > .item > button:not(:disabled):hover {
    color: var(--v8);
}
#pathspanel > #pathsbox > .item > button:disabled {
    color: var(--v4);
}
#pathspanel > button#activatebtn {
    padding: 10px;

    border-radius: 10px;
}
#pathspanel > button#activatebtn.on {
    --bg: var(--cg3);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cg2);
    --fgd: var(--v6);
}
#pathspanel > button#activatebtn.off {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr2);
    --fgd: var(--v6);
}
#optionspanel > #script {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#optionspanel > #script > div.filedialog {
    flex-basis: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#optionspanel > #script > div.filedialog > input {
    flex-basis: 100%;

    color: var(--cg);
    border-radius: 0px;
}
#optionspanel > #script > div.filedialog > button {
    --bg: var(--v2);
    --bgh: var(--v3);
    --bgd: var(--v2);

    padding: 10px;
}
