button:not(.override) {
    padding: 5px 10px;

    display: inline-flex;
    gap: 10px;

    border-radius: 5px;
}

#titlebar {
    gap: 0px;
}
#titlebar > .logo {
    padding: 10px;

    font-size: 16px;

    background-color: transparent;

    cursor: pointer;
}
#titlebar > .space {
    flex-basis: 100%;
}

#PAGE {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PAGE > .side {
    --top: 0px;

    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border-right: 1px solid var(--v2);
}
#PAGE > .side::before {
    content: "";

    position: absolute;
    top: var(--top);
    left: 0px;

    width: 2px;
    height: 55px;

    background-color: var(--a);

    transition: top var(--t);
}
#PAGE > .side button {
    --bg: transparent;
    --fg: var(--v4);
    --bgh: transparent;
    --fgh: var(--v6);
    --bgd: transparent;
    --fgd: var(--v3);

    padding: 15px;

    font-size: 25px;
}
#PAGE > .side button.this {
    --fg: var(--v6);
    --fgh: var(--v8);
    --fgd: var(--v4);
}
#PAGE > .side > .section {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
#PAGE > .side > .section::before {
    content: "";

    z-index: -1;

    position: absolute;
    top: 7.5px;
    left: 7.5px;

    width: calc(100% - 15px);
    height: calc(100% - 15px);
    
    background-color: var(--v2-8);
    border-radius: 5px;
    border: 1px solid var(--v2);

    transition: width var(--t), height var(--t), background-color var(--t), border var(--t);
}
#PAGE > .side > .section.this::before {
    background-color: var(--v2);
    border: 1px solid var(--v3);
}
#PAGE > .side > .section > .sub {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    max-height: 0vh;
    overflow: hidden;

    transition: max-height var(--t);
}
#PAGE > .side > .section.this > .sub {
    max-height: 100vh;
    overflow: visible;
}
#PAGE > .content {
    position: relative;

    width: calc(100% - 55px);
    max-width: calc(100% - 55px);
}
#PAGE > .content > div {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    opacity: 0%;
    visibility: hidden;

    transition: opacity var(--t), visibility var(--t);
}
#PAGE > .content > div.this {
    opacity: 100%;
    visibility: inherit;
}

#templates > .title {
    font-size: 30px;

    color: var(--v8);
}
#templates > .list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#templates > .list > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 5px;
    border: 1px solid var(--v2);
    
    transition: background-color var(--t), border var(--t);
}
#templates > .list > .item:hover,
#templates > .list > .item.this {
    background-color: var(--v2);
    border: 1px solid var(--v3);
}
#templates > .list > .item > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 20px;

    font-size: 20px;
}
#templates > .list > .item > button > .active {
    width: 20px;
    aspect-ratio: 1 / 1;

    border-radius: 100%;

    background-color: var(--v4);
    
    transition: background-color;
}
#templates > .list > .item > button > .active.this {
    background-color: var(--a);
}
#templates > .list > .item > button > input {
    padding: 0px;

    font-size: 20px;

    background-color: transparent;
}
#templates > .list > .item > button > input:disabled {
    pointer-events: none;
}
#templates > .list > .item > button > .space {
    flex-basis: 100%;
}
#templates > .list > .item > button > ion-icon {
    transform: scaleY(100%);

    transition: transform var(--t);
}
#templates > .list > .item.this > button > ion-icon {
    transform: scaleY(-100%);
}
#templates > .list > .item > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    max-height: 0vh;
    overflow: hidden;
    padding: 0px 20px 0px 20px;

    transition: max-height var(--t), padding var(--t);
}
#templates > .list > .item.this > .content {
    max-height: 100vh;
    overflow: visible;
    padding: 0px 20px 20px 20px;
}
#templates > .list > .item > .content > .display {
    --i: 0;

    flex-basis: 100%;

    position: relative;

    min-height: 500px;
    overflow: hidden;

    background-color: var(--v1-8);
    border-radius: 5px;
    border: 1px solid var(--v2);

    transition: border var(--t);
}
#templates > .list > .item > .content > .display:hover {
    border: 1px solid var(--v4);
}
#templates > .list > .item > .content > .display > button {
    z-index: 1;

    --bg: var(--v1-8);
    --fg: var(--v6);
    --o: var(--v2);
    --bgh: var(--v1);
    --fgh: var(--v8);
    --oh: var(--v4);
    --bgd: var(--v1-0);
    --fgd: var(--v6-0);
    --od: var(--v2-0);

    --use-o: 1;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 5px;
    aspect-ratio: 1 / 2;

    font-size: 30px;
}
#templates > .list > .item > .content > .display > button.next {
    right: 0px;

    padding-left: 10px;

    border-radius: 100px 0px 0px 100px;
    border-right: none;
}
#templates > .list > .item > .content > .display > button.prev {
    left: 0px;

    padding-right: 10px;

    border-radius: 0px 100px 100px 0px;
    border-left: none;
}
#templates > .list > .item > .content > .display > .nav {
    z-index: 1;

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--v1-8);
    border-radius: 100px;
    border: 1px solid var(--v2);

    transition: background-color var(--t), border var(--t);
}
#templates > .list > .item > .content > .display > .nav:hover {
    background-color: var(--v1);
    border: 1px solid var(--v4);
}
#templates > .list > .item > .content > .display > .nav > button {
    width: 10px;
    aspect-ratio: 1 / 1;

    background-color: var(--v6-8);
    border-radius: 100%;

    transition: background-color var(--t);
}
#templates > .list > .item > .content > .display > .nav:hover > button {
    background-color: var(--v6);
}
#templates > .list > .item > .content > .display > .nav > button.this {
    background-color: var(--v8-8);
}
#templates > .list > .item > .content > .display > .nav:hover > button.this {
    background-color: var(--v8);
}
#templates > .list > .item > .content > .display > .odom {
    --di: 0;

    position: absolute;
    top: 0px;
    left: calc(100% * (var(--di) - var(--i)));

    width: calc(100% - 40px);
    height: calc(100% - 80px);
    margin: 20px;
    margin-bottom: 60px;

    background-color: transparent;

    transition: left var(--t);
}
#templates > .list > .item > .content > .display > .odom > canvas {
    border: none !important;
}
