.browser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .item,
.browseritem {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .item > button.display,
.browseritem > button.display {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: var(--v2);
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v4);

    min-width: max-content;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border-radius: 10px;

    font-size: 14px;
}
.browser .item > button.display > ion-icon,
.browseritem > button.display > ion-icon {
    margin-right: 5px;

    min-width: 14px;
}
.browser .item > button.display > .tag,
.browseritem > button.display > .tag {
    margin-left: 10px;

    color: var(--v4);

    font-size: 12px;
    font-family: monospace;

    transition: color var(--t);
}
.browser .item > button.display:not(:disabled):hover > .tag,
.browseritem > button.display:not(:disabled):hover > .tag {
    color: var(--v6);
}
.browser .item > button.display:disabled > .tag,
.browseritem > button.display:disabled > .tag {
    color: var(--v2);
}
.browser .item > .content,
.browseritem > .content {
    position: relative;

    margin-left: 20px;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .item.this > .content,
.browseritem.this > .content {
    display: flex;
}
.browser .item > .content > button.side,
.browseritem > .content > button.side {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-100%);

    width: 20px;
    height: 100%;
    padding: 0px;

    background-color: transparent;
}
.browser .item > .content > button.side::before,
.browseritem > .content > button.side::before {
    content: "";

    position: absolute;
    right: 5px;
    top: 0px;

    width: 2px;
    height: 100%;

    background-color: var(--v2);

    transition: background-color var(--t);
}
.browser .item > .content > button.side:not(:disabled):hover::before,
.browseritem > .content > button.side:not(:disabled):hover::before {
    background-color: var(--a);
}
.browser .item > .content > button.side:disabled::before,
.browseritem > .content > button.side:disabled::before {
    background-color: var(--v2-0);
}

#titlebar {
    gap: 0px;
}
#titlebar > .logo {
    padding: 10px;

    font-size: 16px;

    background-color: transparent;

    cursor: pointer;
}
#titlebar > button.nav {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    align-self: stretch;

    padding: 10px 20px;

    gap: 10px;

    font-size: 12px;
}
#titlebar > #projectinfo {
    align-self: stretch;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > button.display {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    min-width: max-content;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#titlebar > #projectinfo > .content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -10px);

    width: 200px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px var(--v0-8));
    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#titlebar > #projectinfo.this > .content {
    transform: translate(-50%, 0px);

    opacity: 100%;
    visibility: inherit;
}
#titlebar > #projectinfo > .content > input {
    padding: 5px;

    background-color: var(--v1-8);
    border-radius: 5px;
}
#titlebar > #projectinfo > .content > .divider {
    height: 2px;

    background-color: var(--v3);
}
#titlebar > #projectinfo > .content > div:not(.divider) {
    color: var(--v8);

    font-size: 12px;
}
#titlebar > #projectinfo > .content > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > .content > .nav > button {
    flex-basis: 100%;

    padding: 10px;

    border-radius: 10px;
}
#titlebar > #projectinfo > .content > .nav > button#infodelete {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr2);
    --fgd: var(--v6);
}
#titlebar > #projectinfo > .content > .nav > button#infoconnection.on {
    --bg: var(--cg3);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cg2);
    --fgd: var(--v6);
}
#titlebar > #projectinfo > .content > .nav > button#infoconnection.off {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr2);
    --fgd: var(--v6);
}
#titlebar > .space {
    flex-basis: 100%;
}
#titlebar > #save {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 10px;

    font-size: 12px;
}
#titlebar > button.nav:not(.forproject) {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 10px;
    aspect-ratio: 1 / 1;
}
#titlebar > button.nav:not(.forproject).this {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a3);
    --fgd: var(--v6);
}
#titlebar > :last-child {
    margin-left: 10px;
}

#mount {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: calc(100% - var(--TOP) - 20px);
    max-height: calc(100% - var(--TOP) - 20px);
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#mount > .side {
    width: 15%;
    max-width: 15%;
}
#mount > .side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#mount > .side > .section {
    --h: 100px;
    width: 100%;
    max-width: 100%;
    height: 22px;
    max-height: 22px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    transition: height var(--t), max-height var(--t);
}
#mount > .side > .section.this {
    height: var(--h);
    max-height: var(--h);
}
#mount > .side > .section > button {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: transparent;
    color: var(--v7);

    text-align: left;
    font-size: 12px;
    font-weight: 700;

    transition: color var(--t);
}
#mount > .side > .section > button:not(:disabled):hover {
    color: var(--v8);
}
#mount > .side > .section > button:disabled {
    color: var(--v4);
}
#mount > .side > .section > button > ion-icon {
    transform: rotate(0deg);

    transition: transform var(--t);
}
#mount > .side > .section.this > button > ion-icon {
    transform: rotate(90deg);
}
#mount > .side > .section > .content {
    max-width: 100%;
    max-height: 0px;
    overflow: auto;

    transition: max-height var(--t);
}
#mount > .side > .section.this > .content {
    max-height: calc(var(--h) - 22px);
}
#mount > .side > .section#tools > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
#mount > .side > .section#tools > .content > button.item {
    --bg: var(--v2-8);
    --bgh: var(--v2);
    --bgd: var(--v2-8);

    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 10px;
}
#mount > .side > .section#tools > .content > button.item > ion-icon {
    font-size: 20px;
}
#mount > .content {
    width: 85%;
    max-width: 85%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#mount > .content:empty {
    border: 2px solid var(--v2);
}
#mount > .content > .item {
    --w: 0px;
    --h: 0px;
}
#mount > .content .item.container {
    width: var(--w);
    max-width: var(--w);
    height: var(--h);
    max-height: var(--h);

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#mount > .content .item.container:empty {
    border: 2px solid var(--v2);
}
#mount > .content .item.container.x {
    flex-direction: row;
}
#mount > .content .item.container.y {
    flex-direction: column;
}
#mount > .content .item.container > .divider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#mount > .content .item.container.x > .divider {
    padding: 0px 5px;
    
    flex-direction: row;

    cursor: ew-resize;
}
#mount > .content .item.container.y > .divider {
    padding: 5px 0px;

    flex-direction: column;

    cursor: ns-resize;
}
#mount > .content .item.container > .divider::before {
    content: "";

    background-color: var(--v4);
    border-radius: 2px;

    transition: width var(--t), height var(--t), background-color var(--t);
}
#mount > .content .item.container > .divider:hover::before {
    background-color: var(--v8);
}
#mount > .content .item.container > .divider.this::before {
    background-color: var(--a);
}
#mount > .content .item.container.x > .divider::before {
    width: 2px;
    height: 20px;
}
#mount > .content .item.container.x > .divider.this::before {
    height: 100%;
}
#mount > .content .item.container.y > .divider::before {
    width: 20px;
    height: 2px;
}
#mount > .content .item.container.y > .divider.this::before {
    width: 100%;
}
#mount > .content .item.panel {
    --tab: 40px;

    position: relative;

    width: calc(var(--w) - 4px);
    max-width: calc(var(--w) - 4px);
    height: calc(var(--h) - 4px);
    max-height: calc(var(--h) - 4px);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border: 2px solid var(--v2);
    border-radius: 10px;
}
#mount > .content .item.panel > button.close {
    --bg: var(--v2);
    --bgh: var(--v2);
    --bgd: var(--v2);

    position: absolute;
    top: calc(var(--tab) / 2);
    right: 10px;
    transform: translateY(-50%);
}
#mount > .content .item.panel > .top {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    height: calc(var(--tab) - 10px);
    max-height: calc(var(--tab) - 10px);
    padding: 10px 40px 0px 10px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;

    background-color: var(--v2);
}
#mount > .content .item.panel > .top::-webkit-scrollbar {
    display: none;
}
#mount > .content .item.panel > .top > button {
    align-self: center;

    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0px;

    border-radius: 5px;

    font-size: 12px;
}
#mount > .content .item.panel > .top > .item {
    padding: 7.5px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: var(--v1-8);
    color: var(--v7);
    border-radius: 10px 10px 0px 0px;
    border: 2px solid var(--v2);
    border-bottom: 2px solid var(--v2);

    font-size: 12px;
    user-select: none;

    transition: color var(--t);
}
#mount > .content .item.panel > .top > .item:hover {
    color: var(--v8);
}
#mount > .content .item.panel > .top > .item.this {
    background-color: var(--v1);
    border-bottom: 2px solid var(--v1);
}
#mount > .content .item.panel > .top > .item > ion-icon {
    order: 0;
}
#mount > .content .item.panel > .top > .item > div {
    order: 1;
}
#mount > .content .item.panel > .top > .item > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    order: 2;

    padding: 0px;
}
#mount > .content .item.panel > .content {
    position: relative;

    width: 100%;
    max-width: 100%;
    height: calc(100% - var(--tab));
    max-height: calc(100% - var(--tab));
    overflow: hidden;
}
#mount > .content .item.panel > .content > .item {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;

    visibility: hidden;
}
#mount > .content .item.panel > .content > .item.this {
    visibility: inherit;
}
#mount > .content .item.panel > .content > .item.browser_ {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#mount > .content .item.panel > .content > .item.browser_ > .path {
    position: absolute;
    top: 0px;
    left: 0px;

    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 10px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v4);

    font-size: 12px;
    user-select: none;
}
#mount > .content .item.panel > .content > .item.browser_ > .path > button.back {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 0px;
}
#mount > .content .item.panel > .content > .item.browser_ > .path > .divider {
    user-select: none;
}
#mount > .content .item.panel > .content > .item.browser_ > .path > button.item {
    padding: 0px;

    background-color: transparent;
    color: var(--v6);

    transition: color var(--t);
}
#mount > .content .item.panel > .content > .item.browser_ > .path > button.item:not(:disabled):hover {
    color: var(--v8);
}
#mount > .content .item.panel > .content > .item.browser_ > .path > button.item:disabled {
    color: var(--v4);
}
#mount > .content .item.panel > .content > .item.browser_ > .browser,
#mount > .content .item.panel > .content > .item.browser_ > .display {
    position: absolute;
    top: 32px;
    left: 0px;

    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: calc(100% - 20px - 32px);
    max-height: calc(100% - 20px - 32px);
    padding: 10px;
    overflow: auto;

    visibility: hidden;
}
#mount > .content .item.panel > .content > .item.browser_ > .browser.this,
#mount > .content .item.panel > .content > .item.browser_ > .display.this {
    visibility: inherit;
}
#mount > .content .item.panel > .content > .item.browser_ > .display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#mount > .content .item.panel > .content > .item.browser_ > .display:not(.array) > .item {
    flex-basis: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 10px;
}
#mount > .content .item.panel > .content > .item.browser_ > .display.array > .type {
    margin-bottom: 10px;

    color: var(--v8);

    font-size: 14px;
    font-family: monospace;
}
#mount > .content .item.panel > .content > .item.browser_ > .display.array > .type * {
    font-size: 14px;
    font-family: monospace;
}
#mount > .content .item.panel > .content > .item.browser_ > .display.array > button.item {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#mount > .content .item.panel > .content > .item.browser_ > .display.array > button.item > .index {
    padding: 10px;

    color: var(--v4);

    font-size: 14px;
    font-family: monospace;
}
#mount > .content .item.panel > .content > .item.browser_ > .display.array > button.item > .value {
    flex-basis: 100%;

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    border-radius: 10px;
}
#mount > .content .item.panel > .content > .item.add {
    padding: 20px;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#mount > .content .item.panel > .content > .item.add > .search {
    overflow: hidden;

    min-height: 35px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
}
#mount > .content .item.panel > .content > .item.add > .search > .tags {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#mount > .content .item.panel > .content > .item.add > .search > .tags:empty {
    padding: 5px;
}
#mount > .content .item.panel > .content > .item.add > .search > .tags > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v7);

    font-size: 12px;
}
#mount > .content .item.panel > .content > .item.add > .search > input {
    flex-basis: 100%;

    padding: 10px 0px;

    background-color: transparent;
    border-radius: 0px;
}
#mount > .content .item.panel > .content > .item.add > .search > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    aspect-ratio: 1 / 1;
}
#mount > .content .item.panel > .content > .item.add > .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#mount > .content .item.panel > .content > .item.add > .content > .header {
    padding: 5px 10px;

    color: var(--v4);

    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    user-select: none;
}
#mount > .content .item.panel > .content > .item.add > .content > .divider {
    height: 2px;
    margin: 2px 0px;

    background-color: var(--v2);
}
#mount > .content .item.panel > .content > .item.add > .content > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#mount > .content .item.panel > .content > .item.add > .content > .item > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    border-radius: 10px;
}
#mount > .content .item.panel > .content > .item.add > .content > .item > button > ion-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#mount > .content .item.panel > .content > .item.add > .content > .item > button > .info {
    opacity: 50%;

    flex-basis: 100%;
}
#overlay {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    overflow: hidden;

    pointer-events: none;
}
#overlay > #block {
    position: absolute;

    background-color: var(--a-4);
    border: 2px solid var(--a);
    border-radius: 10px;
    visibility: hidden;

    user-select: none;
}
#overlay > #block.this {
    visibility: inherit;
}
