.browser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .item,
.browseritem {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .item > button.display,
.browseritem > button.display {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: var(--v2);
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v4);

    min-width: max-content;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border-radius: 10px;

    font-size: 14px;
}
.browser .item > button.display > ion-icon,
.browseritem > button.display > ion-icon {
    margin-right: 5px;

    min-width: 14px;
}
.browser .item > button.display > .tag,
.browseritem > button.display > .tag {
    margin-left: 10px;

    color: var(--v4);

    font-size: 12px;
    font-family: monospace;

    transition: color var(--t);
}
.browser .item > button.display:not(:disabled):hover > .tag,
.browseritem > button.display:not(:disabled):hover > .tag {
    color: var(--v6);
}
.browser .item > button.display:disabled > .tag,
.browseritem > button.display:disabled > .tag {
    color: var(--v2);
}
.browser .item > .content,
.browseritem > .content {
    position: relative;

    margin-left: 20px;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .item.this > .content,
.browseritem.this > .content {
    display: flex;
}
.browser .item > .content > button.side,
.browseritem > .content > button.side {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-100%);

    width: 20px;
    height: 100%;
    padding: 0px;

    background-color: transparent;
}
.browser .item > .content > button.side::before,
.browseritem > .content > button.side::before {
    content: "";

    position: absolute;
    right: 5px;
    top: 0px;

    width: 2px;
    height: 100%;

    background-color: var(--v2);

    transition: background-color var(--t);
}
.browser .item > .content > button.side:not(:disabled):hover::before,
.browseritem > .content > button.side:not(:disabled):hover::before {
    background-color: var(--a);
}
.browser .item > .content > button.side:disabled::before,
.browseritem > .content > button.side:disabled::before {
    background-color: var(--v2-0);
}

#titlebar {
    gap: 0px;
}
#titlebar > .logo {
    padding: 10px;

    font-size: 16px;

    background-color: transparent;

    cursor: pointer;
}
#titlebar > button.nav {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    align-self: stretch;

    padding: 10px 20px;

    gap: 10px;

    font-size: 12px;
}
#titlebar > #projectinfo {
    align-self: stretch;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > button.display {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    min-width: max-content;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#titlebar > #projectinfo > .content {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateY(-10px);

    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px var(--v0-8));
    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#titlebar > #projectinfo.this > .content {
    transform: translateY(0px);

    opacity: 100%;
    visibility: inherit;
}
#titlebar > #projectinfo > .content > input {
    padding: 5px;

    background-color: var(--v1-8);
    border-radius: 5px;
}
#titlebar > #projectinfo > .content > .divider {
    height: 2px;

    background-color: var(--v3);
}
#titlebar > #projectinfo > .content > div:not(.divider) {
    color: var(--v8);

    font-size: 12px;
}
#titlebar > #projectinfo > .content > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > .content > .nav > button {
    flex-basis: 100%;

    padding: 10px;

    border-radius: 10px;
}
#titlebar > #projectinfo > .content > .nav > button.on {
    --bg: var(--cg3);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cg2);
    --fgd: var(--v6);
}
#titlebar > #projectinfo > .content > .nav > button.off {
    --bg: var(--cr);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--cr2);
    --fgd: var(--v6);
}
#titlebar > #projectinfo > .content > .nav > button.special {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v6);
}
#titlebar > .space {
    flex-basis: 100%;
}
#titlebar > #save {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 10px;

    font-size: 12px;
}
#titlebar > button.nav:not(.forproject) {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 10px;
    aspect-ratio: 1 / 1;
}
#titlebar > button.nav:not(.forproject).this {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a3);
    --fgd: var(--v6);
}

#mount > .page {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#TITLEPAGE {
    background: var(--gradient);
}
#TITLEPAGE > .title {
    font-size: 50px;
}
#TITLEPAGE > .title > span:first-child {
    color: var(--a);
}
#TITLEPAGE > .title > span:last-child {
    color: var(--v8);
}
#TITLEPAGE > .subtitle {
    color: var(--v7);

    font-size: 16px;
}
#TITLEPAGE > .nav {
    width: min(300px, 100%);
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#TITLEPAGE > .nav > button {
    position: relative;

    padding: 10px 30px;

    border-radius: 10px;

    font-size: 16px;
}
#TITLEPAGE > .nav > button.special {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v6);
}
#TITLEPAGE > .nav > button > ion-icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%) translateX(-0px);

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#TITLEPAGE > .nav > button:not(:disabled):hover > ion-icon {
    transform: translateY(-50%) translateX(-10px);

    opacity: 100%;
    visibility: inherit;
}

#PROJECTSPAGE {
    padding: 0px 160px !important;

    justify-content: flex-start !important;

    align-items: stretch !important;
}
#PROJECTSPAGE > .title {
    margin-top: 20px;

    color: var(--v8);

    text-align: left;
    font-size: 50px;
}
#PROJECTSPAGE > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#PROJECTSPAGE > .nav > .nav {
    flex-basis: 75%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .nav > .nav > button {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v6);

    width: max-content;
    padding: 10px 20px;

    gap: 10px;

    border-radius: 10px;
}
#PROJECTSPAGE > .nav > .search {
    flex-basis: 25%;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    background-color: var(--v8);
    border-radius: 10px;
}
#PROJECTSPAGE > .nav > .search > input {
    flex-basis: 100%;

    padding: 5px;

    background-color: transparent;
    color: var(--v1);
}
#PROJECTSPAGE > .nav > .search > input::placeholder {
    color: var(--v6);
}
#PROJECTSPAGE > .nav > .search > button {
    --bg: var(--v8);
    --fg: var(--v1);
    --bgh: var(--v7);
    --fgh: var(--v1);
    --bgd: var(--v8);
    --fgd: var(--v4);

    width: 25px;
    min-width: 25px;
    height: 25px;
    margin-right: 5px;

    border-radius: 100%;
}
#PROJECTSPAGE > .content {
    padding: 2px;
    margin-top: 20px;

    flex-basis: 100%;

    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .content > .empty {
    color: var(--v2);

    text-align: center;
    font-style: italic;
}
#PROJECTSPAGE > .content > .item {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
    outline: 2px solid var(--a-0);

    transition: outline var(--t);
}
#PROJECTSPAGE > .content > .item:hover {
    outline: 2px solid var(--a);
}
#PROJECTSPAGE > .content > .item > .image {
    height: 100px;
    aspect-ratio: 1 / 1;

    background-color: var(--v1-8);
    border-radius: 10px;

    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#PROJECTSPAGE > .content > .item > .info {
    flex-basis: 100%;

    padding-left: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .content > .item > .info > .name {
    color: var(--v8);
}
#PROJECTSPAGE > .content > .item > .info > .time {
    color: var(--v4);
}
#PROJECTSPAGE > .content > .item > .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#PROJECTSPAGE > .content > .item > .nav > button {
    --bg: var(--v2);
    --bgh: var(--v3);
    --bgd: var(--v2);

    padding: 10px 20px;

    gap: 10px;

    border-radius: 10px;
}

#PROJECTPAGE {
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: stretch !important;
    align-content: center !important;
    gap: 0px !important;
}
#PROJECTPAGE > .dragbox {
    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    background-color: var(--a-4);

    opacity: 0%;
    visibility: hidden;

    pointer-events: none;

    transition: opacity calc(0.5 * var(--t)), visibility calc(0.5 * var(--t));
}
#PROJECTPAGE > .dragbox.this {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .dragbox::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 10px);
    height: calc(100% + 10px);

    border: 5px solid var(--v8);

    transition: width var(--t), height var(--t);
}
#PROJECTPAGE > .dragbox.this::before {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}
#PROJECTPAGE > .dragbox > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(75%);

    background-color: var(--v8);

    transition: transform var(--t);
}
#PROJECTPAGE > .dragbox.this > div {
    transform: translate(-50%, -50%) scale(100%);
}
#PROJECTPAGE > .dragbox > div:nth-child(1) {
    width: min(10vw, 10vh);
    height: min(2vw, 2vh);
}
#PROJECTPAGE > .dragbox > div:nth-child(2) {
    width: min(2vw, 2vh);
    height: min(10vw, 10vh);
}
#PROJECTPAGE > .side {
    width: 15%;
    max-width: 15%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#PROJECTPAGE > .side > #meta {
    padding: 5px;

    color: var(--v4);

    text-align: left;
    font-size: 12px;
}
#PROJECTPAGE > .side > .section {
    --h: 100px;
    width: 100%;
    max-width: 100%;
    height: 22px;
    max-height: 22px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    transition: height var(--t), max-height var(--t);
}
#PROJECTPAGE > .side > .section.this {
    height: var(--h);
    max-height: var(--h);
}
#PROJECTPAGE > .side > .section > button {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: transparent;
    color: var(--v7);

    text-align: left;
    font-size: 12px;
    font-weight: 700;

    transition: color var(--t);
}
#PROJECTPAGE > .side > .section > button:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .side > .section > button:disabled {
    color: var(--v4);
}
#PROJECTPAGE > .side > .section > button > ion-icon {
    transform: rotate(0deg);

    transition: transform var(--t);
}
#PROJECTPAGE > .side > .section.this > button > ion-icon {
    transform: rotate(90deg);
}
#PROJECTPAGE > .side > .section > .content {
    max-width: 100%;
    max-height: 0px;
    overflow: auto;

    transition: max-height var(--t);
}
#PROJECTPAGE > .side > .section.this > .content {
    max-height: calc(var(--h) - 22px);
}
#PROJECTPAGE > .side > .section#tools > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
#PROJECTPAGE > .side > .section#tools > .content > button.item {
    --bg: var(--v2-8);
    --bgh: var(--v2);
    --bgd: var(--v2-8);

    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 10px;
}
#PROJECTPAGE > .side > .section#tools > .content > button.item > ion-icon {
    font-size: 20px;
}
#PROJECTPAGE > .content {
    width: 85%;
    max-width: 85%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#PROJECTPAGE > .content:empty {
    border: 2px solid var(--v2);
}
#PROJECTPAGE > .content > .item {
    --w: 0px;
    --h: 0px;
}
#PROJECTPAGE > .content .item.container {
    width: var(--w);
    max-width: var(--w);
    height: var(--h);
    max-height: var(--h);
    overflow: hidden;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.container:empty {
    border: 2px solid var(--v2);
}
#PROJECTPAGE > .content .item.container.x {
    flex-direction: row;
}
#PROJECTPAGE > .content .item.container.y {
    flex-direction: column;
}
#PROJECTPAGE > .content .item.container > .divider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .content .item.container.x > .divider {
    padding: 0px 5px;
    
    flex-direction: row;

    cursor: ew-resize;
}
#PROJECTPAGE > .content .item.container.y > .divider {
    padding: 5px 0px;

    flex-direction: column;

    cursor: ns-resize;
}
#PROJECTPAGE > .content .item.container > .divider::before {
    content: "";

    background-color: var(--v4);
    border-radius: 2px;

    transition: width var(--t), height var(--t), background-color var(--t);
}
#PROJECTPAGE > .content .item.container > .divider:hover::before {
    background-color: var(--v8);
}
#PROJECTPAGE > .content .item.container > .divider.this::before {
    background-color: var(--a);
}
#PROJECTPAGE > .content .item.container.x > .divider::before {
    width: 2px;
    height: 20px;
}
#PROJECTPAGE > .content .item.container.x > .divider.this::before {
    height: 100%;
}
#PROJECTPAGE > .content .item.container.y > .divider::before {
    width: 20px;
    height: 2px;
}
#PROJECTPAGE > .content .item.container.y > .divider.this::before {
    width: 100%;
}
#PROJECTPAGE > .content .item.panel {
    --tab: 30px;

    position: relative;

    width: var(--w);
    max-width: var(--w);
    height: var(--h);
    max-height: var(--h);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border: 2px solid var(--v2);
    border-radius: 10px;
    outline: none;
}
#PROJECTPAGE > .content .item.panel.active {
    border: 2px solid var(--v3);
}
#PROJECTPAGE > .content .item.panel > button.options {
    --bg: var(--v2);
    --bgh: var(--v2);
    --bgd: var(--v2);

    z-index: 1;

    position: absolute;
    top: calc(var(--tab) / 2);
    right: 0px;
    transform: translateY(-50%);

    height: var(--tab);
}
#PROJECTPAGE > .content .item.panel.collapsed > button.options {
    --bg: var(--v2-0);
    --bgh: var(--v2);
    --bgd: var(--v2-0);

    top: 0px;
    transform: none;

    border-bottom-left-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .top {
    width: 100%;
    max-width: 100%;
    height: var(--tab);
    max-height: var(--tab);
    padding-right: 30px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 2px;

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel.collapsed > .top {
    display: none;
}
#PROJECTPAGE > .content .item.panel > .top::-webkit-scrollbar {
    display: none;
}
#PROJECTPAGE > .content .item.panel > .top > button {
    align-self: center;

    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-left: 5px;
    padding: 0px;

    border-radius: 5px;

    font-size: 12px;
}
#PROJECTPAGE > .content .item.panel > .top > .item {
    position: relative;

    min-width: max-content;
    padding: 7.5px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: var(--v1-8);
    color: var(--v7);
    border-bottom: 2px solid var(--v2);

    font-size: 12px;
    user-select: none;

    transition: color var(--t);
}
#PROJECTPAGE > .content .item.panel > .top > .item:hover {
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .top > .item::before {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 2px;

    background-color: var(--a);
}
#PROJECTPAGE > .content .item.panel > .top > .item.this {
    background-color: var(--v1);
    border-bottom: 2px solid var(--v1);
}
#PROJECTPAGE > .content .item.panel > .top > .item.this::before {
    content: "";
}
#PROJECTPAGE > .content .item.panel > .top > .item > ion-icon {
    order: 0;
}
#PROJECTPAGE > .content .item.panel > .top > .item > div {
    order: 1;
}
#PROJECTPAGE > .content .item.panel > .top > .item > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    order: 2;

    padding: 0px;
}
#PROJECTPAGE > .content .item.panel > .content {
    position: relative;

    width: 100%;
    max-width: 100%;
    height: calc(100% - var(--tab));
    max-height: calc(100% - var(--tab));
    overflow: hidden;
}
#PROJECTPAGE > .content .item.panel.collapsed > .content {
    height: 100%;
    max-height: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;

    visibility: hidden;
}
#PROJECTPAGE > .content .item.panel > .content > .item.this {
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    max-width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v4);

    font-size: 12px;
    user-select: none;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.back {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 0px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > .divider {
    user-select: none;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.item {
    padding: 0px;

    background-color: transparent;
    color: var(--v6);

    transition: color var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.item:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.item:disabled {
    color: var(--v4);
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .browser,
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display {
    position: absolute;
    top: 26.5px;
    left: 0px;

    width: 100%;
    max-width: 100%;
    height: calc(100% - 26.5px);
    max-height: calc(100% - 26.5px);
    padding: 10px;
    overflow: auto;

    visibility: hidden;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .browser.this,
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display.this {
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display:not(.array) > .item {
    flex-basis: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display.array > .type {
    margin-bottom: 10px;

    color: var(--v8);

    font-size: 14px;
    font-family: monospace;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display.array > .type * {
    font-size: 14px;
    font-family: monospace;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display.array > button.item {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display.array > button.item > .index {
    padding: 10px;

    color: var(--v4);

    font-size: 14px;
    font-family: monospace;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display.array > button.item > .value {
    flex-basis: 100%;

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search {
    overflow: hidden;

    min-height: 36.5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > .tags {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > .tags:empty {
    padding: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > .tags > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v7);

    font-size: 12px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > input {
    flex-basis: 100%;

    padding: 10px 0px;

    background-color: transparent;
    border-radius: 0px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    aspect-ratio: 1 / 1;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .header {
    padding: 5px 10px;

    color: var(--v4);

    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    user-select: none;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .divider {
    height: 2px;
    margin: 2px 0px;

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item > button > ion-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item > button > .info {
    opacity: 50%;

    flex-basis: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > button.toggle {
    width: 100%;
    max-width: 100%;
    height: 16px;
    max-height: 16px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    background-color: transparent;
    color: var(--v7);

    transition: color var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > button.toggle > ion-icon {
    transform: scaleY(100%);

    transition: transform var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.open > button.toggle > ion-icon {
    transform: scaleY(-100%);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > button.toggle:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > button.toggle:disabled {
    color: var(--v5);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content {
    position: relative;

    width: 100%;
    max-width: 100%;
    height: calc(100% - 16px);
    max-height: calc(100% - 16px);

    border-radius: 10px;
    border: 2px solid var(--v2);

    transition: height var(--t), max-height var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.open > .content {
    height: calc(65% - 8px);
    max-height: calc(65% - 8px);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > canvas {
    position: absolute;
    top: 0%;
    left: 0%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav {
    z-index: 3;
    
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);

    width: 100%;
    max-width: 100%;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content:hover > .nav {
    transform: translateX(-50%) translateY(0px);

    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress {
    --progress: 50%;

    position: relative;

    width: 100%;
    height: 5px;

    background-color: var(--v3);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress::before {
    content: "";

    position: absolute;
    top: 50%;
    left: var(--progress);
    transform: translate(-50%, -50%);

    width: 0px;
    aspect-ratio: 1 / 1;

    background-color: var(--cr);
    border-radius: 100%;

    transition: width var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress:hover::before {
    width: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    width: var(--progress);
    height: 100%;

    background-color: var(--cr);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .nav {
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .nav > button {
    --bg: transparent;
    --fg: var(--v3);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v2);

    padding: 0px;
    aspect-ratio: 1 / 1;

    font-size: 16px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .nav > div {
    min-width: max-content;

    color: var(--v3);

    font-family: monospace;
    font-size: 12px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options {
    width: 100%;
    max-width: 100%;
    height: 0%;
    max-height: 0%;
    padding: 0px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    background-color: var(--v2-8);
    border-radius: 10px;

    transition: height var(--t), max-height var(--t), padding var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.open > .options {
    height: calc(35% - 8px);
    max-height: calc(35% - 8px);
    padding: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section {
    flex-basis: 100%;

    max-width: calc((100% - 20px) / 3);
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .content > .info {
    position: absolute;
    bottom: 10px;
    left: 10px;

    color: var(--v8-4);

    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;

    visibility: hidden;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .content.showinfo > .info {
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list {
    position: relative;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list.empty::before {
    content: "Drag some topics here";

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: var(--v3);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list.empty::before {
    content: "Drag some poses here";

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: var(--v3);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section > .header {
    color: var(--v8);

    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 5px;

    justify-content: flex-start;
    gap: 10px;

    border-radius: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display > div {
    flex-basis: 100%;

    text-align: left;
    font-size: 14px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > .content {
    position: relative;

    padding: 5px;
    padding-left: 20px;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > .content::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 10px;

    width: 2px;
    height: 100%;
    transform: translateX(-50%);

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item.open > .content {
    display: flex;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker > button,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button:not(.custom) {
    height: 15px;
    aspect-ratio: 1 / 1;

    border: 2px solid transparent;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker > button.this,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button:not(.custom).this {
    border: 2px solid var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav {
    position: relative;

    margin-bottom: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav::before {
    content: "";

    position: absolute;
    bottom: -7.5px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 2px;

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 2px;

    border-radius: 10px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button.this,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button.this {
    --bg: var(--v8);
    --fg: var(--v1);
    --bgh: var(--v8);
    --fgh: var(--v4);
    --bgd: var(--v6);
    --fgd: var(--v1);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info > span:not(.units),
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info > span:not(.units),
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info > span:not(.units) {
    flex-basis: 100%;
    
    color: var(--v8);

    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info > span.units,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info > span.units,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info > span.units {
    color: var(--v6);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > input,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > input,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > input {
    padding: 5px;

    border-radius: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button.custom {
    --bg: transparent;
    --fg: var(--cr);
    --bgh: transparent;
    --fgh: var(--cr5);
    --bgd: transparent;
    --fgd: var(--cr2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button.custom.this {
    --fg: var(--cg);
    --fgh: var(--cg5);
    --fgd: var(--cg2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > button.display,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > button {
    position: relative;

    padding: 5px;

    border-radius: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > button.display > ion-icon,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > button > ion-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field.has > .nothas {
    display: none !important;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .v,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .v {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .v > input,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .v > input {
    flex-basis: 100%;

    padding: 5px;

    border-radius: 5px;
}
#overlay {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    overflow: hidden;

    pointer-events: none;
}
#overlay > #block {
    position: absolute;

    background-color: var(--a-4);
    border: 2px solid var(--a);
    border-radius: 10px;
    visibility: hidden;

    user-select: none;
}
#overlay > #block.this {
    visibility: inherit;
}
#overlay > #graphtooltip {
    position: absolute;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px var(--v0-8));
    visibility: hidden;
}
#overlay > #graphtooltip.this {
    visibility: inherit;
}
#overlay > #graphtooltip > .name {
    color: var(--v8);

    font-size: 14px;
    font-weight: 550;
}
#overlay > #graphtooltip > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    color: var(--v8);

    font-size: 12px;
}
