.browser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .field,
.browserfield {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .field > button.display,
.browserfield > button.display {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: var(--v2);
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v4);

    max-width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    border-radius: 10px;

    font-size: 14px;
}
.browser .field.hidden > button.display,
.browserfield.hidden > button.display {
    --fg: var(--v5);
    --fgh: var(--v7);
    --fgd: var(--v3);

    font-style: italic;
}
.browser .field > button.display > .main,
.browserfield > button.display > .main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.browser .field > button.display > .main > ion-icon,
.browserfield > button.display > .main > ion-icon {
    margin-right: 5px;

    min-width: 14px;
}
.browser .field > button.display > .main > .name,
.browserfield > button.display > .main > .name {
    min-width: max-content;
}
.browser .field > button.display > .main > .name > span,
.browserfield > button.display > .main > .name > span,
.browser .field > button.display > .main > .tag,
.browserfield > button.display > .main > .tag {
    color: var(--v5);

    transition: color var(--t);
}
.browser .field > button.display:not(:disabled):hover > .main > .name > span,
.browserfield > button.display:not(:disabled):hover > .main > .name > span,
.browser .field > button.display:not(:disabled):hover > .main > .tag,
.browserfield > button.display:not(:disabled):hover > .main > .tag {
    color: var(--v7);
}
.browser .field > button.display:disabled > .main > .name > span,
.browserfield > button.display:disabled > .main > .name > span,
.browser .field > button.display:disabled > .main > .tag,
.browserfield > button.display:disabled > .main > .tag {
    color: var(--v3);
}
.browser .field > button.display > .main > .tag,
.browserfield > button.display > .main > .tag {
    margin-left: 10px;

    font-size: 12px;
    font-family: monospace;
}
.browser .field > button.display > .value,
.browserfield > button.display > .value {
    padding-left: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.browser .field > button.display > .value > div,
.browserfield > button.display > .value > div {
    width: calc(100% - 14px - 20px);
    max-width: calc(100% - 14px - 20px);
    overflow: hidden;

    font-size: 12px;
    text-align: left;
    text-overflow: ellipsis;
}
.browser .field > .content,
.browserfield > .content {
    position: relative;

    margin-left: 20px;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
.browser .field.this > .content,
.browserfield.this > .content {
    display: flex;
}
.browser .field > .content > button.side,
.browserfield > .content > button.side {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translateX(-100%);

    width: 20px;
    height: 100%;
    padding: 0px;

    background-color: transparent;
}
.browser .field > .content > button.side::before,
.browserfield > .content > button.side::before {
    content: "";

    position: absolute;
    right: 5px;
    top: 0px;

    width: 2px;
    height: 100%;

    background-color: var(--v2);

    transition: background-color var(--t);
}
.browser .field > .content > button.side:not(:disabled):hover::before,
.browserfield > .content > button.side:not(:disabled):hover::before {
    background-color: var(--a);
}
.browser .field > .content > button.side:disabled::before,
.browserfield > .content > button.side:disabled::before {
    background-color: var(--v2-0);
}

#PROJECTPAGE {
    padding: 0px !important;

    flex-direction: row !important;
    align-items: stretch !important;
    gap: 0px !important;
}
#PROJECTPAGE > .dragbox {
    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    background-color: var(--a-4);

    opacity: 0%;
    visibility: hidden;

    pointer-events: none;

    transition: opacity calc(0.5 * var(--t)), visibility calc(0.5 * var(--t));
}
#PROJECTPAGE > .dragbox.this {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .dragbox::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 10px);
    height: calc(100% + 10px);

    border: 5px solid var(--v8);

    transition: width var(--t), height var(--t);
}
#PROJECTPAGE > .dragbox.this::before {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}
#PROJECTPAGE > .dragbox > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(75%);

    background-color: var(--v8);

    transition: transform var(--t);
}
#PROJECTPAGE > .dragbox.this > div {
    transform: translate(-50%, -50%) scale(100%);
}
#PROJECTPAGE > .dragbox > div:nth-child(1) {
    width: min(10vw, 10vh);
    height: min(2vw, 2vh);
}
#PROJECTPAGE > .dragbox > div:nth-child(2) {
    width: min(2vw, 2vh);
    height: min(10vw, 10vh);
}
#PROJECTPAGE > .side {
    width: 15%;
    max-width: 15%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-right: 2px solid var(--v2);
}
#PROJECTPAGE > .side > #meta {
    padding: 5px;

    color: var(--v4);

    text-align: left;
    font-size: 12px;
}
#PROJECTPAGE > .side > .section {
    --h: 100px;
    width: 100%;
    max-width: 100%;
    height: 22px;
    max-height: 22px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    transition: height var(--t), max-height var(--t);
}
#PROJECTPAGE > .side > .section.this {
    height: var(--h);
    max-height: var(--h);
}
#PROJECTPAGE > .side > .section > button {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: transparent;
    color: var(--v7);

    text-align: left;
    font-size: 12px;
    font-weight: 700;

    transition: color var(--t);
}
#PROJECTPAGE > .side > .section > button:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .side > .section > button:disabled {
    color: var(--v4);
}
#PROJECTPAGE > .side > .section > button > ion-icon {
    transform: rotate(0deg);

    transition: transform var(--t);
}
#PROJECTPAGE > .side > .section.this > button > ion-icon {
    transform: rotate(90deg);
}
#PROJECTPAGE > .side > .section > .content {
    max-width: 100%;
    max-height: 0px;
    overflow: auto;

    transition: max-height var(--t);
}
#PROJECTPAGE > .side > .section.this > .content {
    max-height: calc(var(--h) - 22px);
}
#PROJECTPAGE > .side > .section#tools > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
#PROJECTPAGE > .side > .section#tools > .content > button.item {
    --bg: var(--v2-8);
    --bgh: var(--v2);
    --bgd: var(--v2-8);

    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;

    border-radius: 10px;
}
#PROJECTPAGE > .side > .section#tools > .content > button.item > ion-icon {
    font-size: 20px;
}
#PROJECTPAGE > .content {
    width: 85%;
    max-width: 85%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content > .item {
    --w: 0px;
    --h: 0px;
}
#PROJECTPAGE > .content .item.container {
    width: var(--w);
    max-width: var(--w);
    height: var(--h);
    max-height: var(--h);
    overflow: hidden;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.container.x {
    flex-direction: row;
}
#PROJECTPAGE > .content .item.container.y {
    flex-direction: column;
}
#PROJECTPAGE > .content .item.container > .divider {
    z-index: 1;
    
    position: relative;
    
    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.container.x > .divider {
    width: 2px;
    max-width: 2px;
    overflow: visible;

    cursor: ew-resize;
}
#PROJECTPAGE > .content .item.container.y > .divider {
    height: 2px;
    max-height: 2px;
    overflow: visible;

    cursor: ns-resize;
}
#PROJECTPAGE > .content .item.container > .divider::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--v4);

    transition: width var(--t), height var(--t), background-color var(--t);
}
#PROJECTPAGE > .content .item.container > .divider:hover::before {
    background-color: var(--v8);
}
#PROJECTPAGE > .content .item.container > .divider.this::before {
    background-color: var(--a);
}
#PROJECTPAGE > .content .item.container.x > .divider::before {
    width: 2px;
    height: 20px;
}
#PROJECTPAGE > .content .item.container.x > .divider:hover::before {
    width: 5px;
}
#PROJECTPAGE > .content .item.container.x > .divider.this::before {
    height: 100%;
}
#PROJECTPAGE > .content .item.container.y > .divider::before {
    width: 20px;
    height: 2px;
}
#PROJECTPAGE > .content .item.container.y > .divider:hover::before {
    height: 5px;
}
#PROJECTPAGE > .content .item.container.y > .divider.this::before {
    width: 100%;
}
#PROJECTPAGE > .content .item.panel {
    --tab: 30px;

    position: relative;

    width: var(--w);
    max-width: var(--w);
    height: var(--h);
    max-height: var(--h);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > button.options {
    --bg: var(--v2);
    --bgh: var(--v2);
    --bgd: var(--v2);

    z-index: 1;

    position: absolute;
    top: calc(var(--tab) / 2);
    right: 0px;
    transform: translateY(-50%);

    height: var(--tab);
}
#PROJECTPAGE > .content .item.panel.collapsed > button.options {
    --bg: var(--v2-0);
    --bgh: var(--v2);
    --bgd: var(--v2-0);

    top: 0px;
    transform: none;

    border-bottom-left-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .top {
    width: 100%;
    max-width: 100%;
    height: var(--tab);
    max-height: var(--tab);
    padding-right: 30px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 2px;

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel.collapsed > .top {
    display: none;
}
#PROJECTPAGE > .content .item.panel > .top::-webkit-scrollbar {
    display: none;
}
#PROJECTPAGE > .content .item.panel > .top > button {
    align-self: center;

    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-left: 5px;
    padding: 0px;

    border-radius: 5px;

    font-size: 12px;
}
#PROJECTPAGE > .content .item.panel > .top > .item {
    position: relative;

    min-width: max-content;
    padding: 7.5px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    background-color: var(--v1-8);
    color: var(--v4);
    border-bottom: 2px solid var(--v2);

    font-size: 12px;
    user-select: none;

    transition: color var(--t);
}
#PROJECTPAGE > .content .item.panel > .top > .item:hover {
    color: var(--v5);
}
#PROJECTPAGE > .content .item.panel.active > .top > .item {
    color: var(--v7);
}
#PROJECTPAGE > .content .item.panel.active > .top > .item:hover {
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .top > .item::before {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 2px;

    background-color: var(--a);
}
#PROJECTPAGE > .content .item.panel > .top > .item.this {
    background-color: var(--v1);
    border-bottom: 2px solid var(--v1);
}
#PROJECTPAGE > .content .item.panel.active > .top > .item.this::before {
    content: "";
}
#PROJECTPAGE > .content .item.panel > .top > .item > ion-icon {
    order: 0;
}
#PROJECTPAGE > .content .item.panel > .top > .item > div {
    order: 1;
}
#PROJECTPAGE > .content .item.panel > .top > .item > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    order: 2;

    padding: 0px;
}
#PROJECTPAGE > .content .item.panel > .content {
    position: relative;

    width: 100%;
    max-width: 100%;
    height: calc(100% - var(--tab));
    max-height: calc(100% - var(--tab));
    overflow: hidden;
}
#PROJECTPAGE > .content .item.panel.collapsed > .content {
    height: 100%;
    max-height: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;

    visibility: hidden;
}
#PROJECTPAGE > .content .item.panel > .content > .item.this {
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    max-width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v4);

    font-size: 12px;
    user-select: none;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.back {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 0px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > .divider {
    user-select: none;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.item {
    padding: 0px;

    background-color: transparent;
    color: var(--v6);

    transition: color var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.item:not(:disabled):hover {
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .path > button.item:disabled {
    color: var(--v4);
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .browser,
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display {
    position: absolute;
    top: 26.5px;
    left: 0px;

    width: 100%;
    max-width: 100%;
    height: calc(100% - 26.5px);
    max-height: calc(100% - 26.5px);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    visibility: hidden;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .browser.this,
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display.this {
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .browser > .field {
    max-width: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display > .item {
    position: relative;

    height: 100%;
    max-height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display > .item > ion-icon {
    color: var(--v1);
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display > .item > .type {
    position: absolute;
    top: 10px;
    left: 10px;

    color: var(--v4);

    font-size: 14px;
    font-family: monospace;
}
#PROJECTPAGE > .content .item.panel > .content > .item.browser_ > .display > .item > .value {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    color: var(--v8);

    font-family: monospace;
    word-break: break-all;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search {
    overflow: hidden;

    min-height: 36.5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > .tags {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > .tags:empty {
    padding: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > .tags > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    color: var(--v7);

    font-size: 12px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > input {
    flex-basis: 100%;

    padding: 10px 0px;

    background-color: transparent;
    border-radius: 0px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .search > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    aspect-ratio: 1 / 1;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .header {
    padding: 5px 10px;

    color: var(--v4);

    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    user-select: none;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .divider {
    height: 2px;
    margin: 2px 0px;

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    border-radius: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item > button > ion-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.add > .content > .item > button > .info {
    opacity: 50%;

    flex-basis: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.webview > .nav {
    width: 100%;
    max-width: 100%;
    height: 25px;
    max-height: 25px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.webview > .nav > button {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: var(--v2-8);
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v6);

    aspect-ratio: 1 / 1;

    border-radius: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.webview > .nav > input {
    flex-basis: 100%;

    background-color: var(--v2-8);
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.webview > webview {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);

    background-color: #fff;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .status {
    position: relative;

    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    color: var(--v4);

    font-size: 12px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .status::before {
    content: "";
    
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateY(-50%);

    width: 100%;
    height: 2px;

    background-color: var(--a);
    opacity: 0%;
    visibility: hidden;

    animation: loading-line 1s linear infinite;

    transition: opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger.loading_ > .status::before {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .status > .space {
    flex-basis: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .status > * {
    min-width: max-content;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .status > ion-icon {
    min-width: 1em;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .status > button {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a2);
    --fgd: var(--v6);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 33.33px);
    max-height: calc(100% - 33.33px);
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item {
    position: relative;

    padding: 10px;
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    background-color: var(--v2-0);
    color: var(--v5);

    font-size: 14px;

    transition: background-color var(--t), color var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item::before {
    content: "";
    
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    height: 2px;

    background-color: var(--a);
    opacity: 0%;
    visibility: hidden;

    animation: loading-line 1s linear infinite;

    transition: opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.loading_::before {
    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item::after {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);

    width: 2px;
    height: 100%;

    background-color: var(--a);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.selected::after {
    content: "";
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item:hover {
    background-color: var(--v2-8);
    color: var(--v6);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.downloaded {
    background-color: var(--v2-8);
    color: var(--v7);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.downloaded:hover {
    background-color: var(--v2);
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.deprecated {
    background-color: var(--cr-8);
    color: var(--v7);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.deprecated:hover {
    background-color: var(--cr);
    color: var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item > .name {
    min-width: max-content;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item > .space {
    flex-basis: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item > .nav > button {
    --bg: transparent;
    --fg: var(--v5);
    --bgh: transparent;
    --fgh: var(--v6);
    --bgd: transparent;
    --fgd: var(--v4);

    padding: 0px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.downloaded > .nav > button {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v6);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.logger > .logs > .item.deprecated > .nav > button {
    --bg: transparent;
    --fg: var(--v7);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v6);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas {
    --options: 100%;

    padding: 0px;
    overflow: hidden;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.open {
    --options: 0%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas:not(.open).half-open {
    --options: 50%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .open {
    position: absolute;
    top: var(--options);
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: var(--v1);
    border-radius: 100%;

    transition: top var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.drag > .open {
    transition: none;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.open > .open {
    z-index: 2;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .open::before {
    content: "";

    z-index: 0;

    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;

    background-color: var(--v2-8);
    border-radius: 100%;

    transition: background-color var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .open:hover::before {
    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .open > ion-icon {
    z-index: 1;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--v7);

    transition: top var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.open > .open > ion-icon {
    top: 75%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content {
    position: absolute;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > canvas {
    position: absolute;
    top: 0%;
    left: 0%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav {
    z-index: 3;
    
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);

    width: 100%;
    max-width: 100%;
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content:hover > .nav {
    transform: translateX(-50%) translateY(0px);

    opacity: 100%;
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress {
    --progress: 50%;

    position: relative;

    width: 100%;
    height: 5px;

    background-color: var(--v3);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress::before {
    content: "";

    position: absolute;
    top: 50%;
    left: var(--progress);
    transform: translate(-50%, -50%);

    width: 0px;
    aspect-ratio: 1 / 1;

    background-color: var(--cr);
    border-radius: 100%;

    transition: width var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress:hover::before {
    width: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .progress::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    width: var(--progress);
    height: 100%;

    background-color: var(--cr);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .nav {
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .nav > button {
    --bg: transparent;
    --fg: var(--v3);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v2);

    padding: 0px;
    aspect-ratio: 1 / 1;

    font-size: 16px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .content > .nav > .nav > div {
    min-width: max-content;

    color: var(--v3);

    font-family: monospace;
    font-size: 12px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options {
    position: absolute;
    top: var(--options);
    left: 0%;

    width: 100%;
    max-width: 100%;
    height: max(50%, calc(100% - var(--options)));
    max-height: max(50%, calc(100% - var(--options)));
    padding: 10px;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    background-color: var(--v1);

    transition: top var(--t), height var(--t), max-height var(--t), padding var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.drag > .options {
    transition: padding var(--t);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options::before {
    content: "";

    z-index: 0;

    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    background-color: var(--v2-8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.open > .options {
    padding-top: 35px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section {
    z-index: 1;

    flex-basis: 100%;

    max-width: calc((100% - 20px) / 3);
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .content > .info {
    position: absolute;
    bottom: 10px;
    left: 10px;

    color: var(--v8-4);

    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;

    visibility: hidden;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .content.showinfo > .info {
    visibility: inherit;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list {
    position: relative;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list.empty::before {
    content: "Drag some topics here";

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: var(--v3);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list.empty::before {
    content: "Drag some poses here";

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: var(--v3);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section > .header {
    color: var(--v8);

    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 5px;

    justify-content: flex-start;
    gap: 10px;

    border-radius: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display > div {
    flex-basis: 100%;

    text-align: left;
    font-size: 14px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > button.display > button {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > .content {
    position: relative;

    padding: 5px;
    padding-left: 20px;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item > .content::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 10px;

    width: 2px;
    height: 100%;
    transform: translateX(-50%);

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas > .options > .section.list > .item.open > .content {
    display: flex;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker > button,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button:not(.custom) {
    height: 15px;
    aspect-ratio: 1 / 1;

    border: 2px solid transparent;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.list > .item > .content > .colorpicker > button.this,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button:not(.custom).this {
    border: 2px solid var(--v8);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav {
    position: relative;

    margin-bottom: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav::before {
    content: "";

    position: absolute;
    bottom: -7.5px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 2px;

    background-color: var(--v2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 2px;

    border-radius: 10px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .nav > button.this,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .nav > button.this {
    --bg: var(--v8);
    --fg: var(--v1);
    --bgh: var(--v8);
    --fgh: var(--v4);
    --bgd: var(--v6);
    --fgd: var(--v1);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info > span:not(.units),
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info > span:not(.units),
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info > span:not(.units) {
    flex-basis: 100%;
    
    color: var(--v8);

    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 550;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.graph > .options > .section.view > .info > span.units,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .info > span.units,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .info > span.units {
    color: var(--v6);

    font-size: 12px;
    font-style: italic;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button.custom {
    --bg: transparent;
    --fg: var(--cr);
    --bgh: transparent;
    --fgh: var(--cr5);
    --bgd: transparent;
    --fgd: var(--cr2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > .colorpicker > button.custom.this {
    --fg: var(--cg);
    --fgh: var(--cg5);
    --fgd: var(--cg2);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > button.display,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > button {
    position: relative;

    padding: 5px;

    border-radius: 5px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.list > .item > .content > button.display > ion-icon,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > button > ion-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field.has > .nothas {
    display: none !important;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .v,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .v {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.field > .v > input,
#PROJECTPAGE > .content .item.panel > .content > .item.tool.canvas.odometry > .options > .section.options > .v > input {
    flex-basis: 100%;
}
#overlay {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    overflow: hidden;

    pointer-events: none;
}
#overlay > #block {
    position: absolute;

    background-color: var(--a-4);
    border: 2px solid var(--a);
    border-radius: 10px;
    visibility: hidden;

    user-select: none;
}
#overlay > #block.this {
    visibility: inherit;
}
#overlay > #graphtooltip {
    position: absolute;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px var(--v0-8));
    visibility: hidden;
}
#overlay > #graphtooltip.this {
    visibility: inherit;
}
#overlay > #graphtooltip > .name {
    color: var(--v8);

    font-size: 14px;
    font-weight: 550;
}
#overlay > #graphtooltip > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    color: var(--v8);

    font-size: 12px;
}
