:root {
    --WIN-TITLEBAR-TOP: 0px;
}

#mount {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

    background-color: var(--v1);

    -webkit-app-region: drag;
}
#mount > .logo {
    --size: 50px;

    color: var(--v2);
}
#mount > .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    color: var(--v2);

    font-family: monospace;
    font-size: 16px;
}
