#TITLEPAGE {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#TITLEPAGE > .background {
    --x: 0px;
    --y: 0px;
    --size: 0px;

    z-index: -1;

    position: absolute;
    top: calc(-1 * var(--WIN-TITLEBAR-TOP));
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 100%;
    height: calc(100% + var(--WIN-TITLEBAR-TOP));
    max-height: calc(100% + var(--WIN-TITLEBAR-TOP));

    background: linear-gradient(160deg, var(--v2-0) 0%, var(--v2-4) 100%);
    /*
    background: radial-gradient(
        circle at center,
        var(--v1-0) 0%,
        var(--v1-0) 50%,
        var(--v1) 75%
    ),
    radial-gradient(
        circle at var(--x) var(--y),
        var(--v2-8) 0%,
        var(--v2-0) 25%
    );
    visibility: hidden;
    */
}
#TITLEPAGE > .background > ion-icon {
    --x: 0px;
    --y: 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(var(--x), calc(-1 * var(--y))) scale(90%);

    color: var(--v1);
    filter: brightness(100%);

    font-size: calc(2 * var(--size));
}
#TITLEPAGE > .background > #canvas {
    z-index: -1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#TITLEPAGE > .inner {
    height: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#TITLEPAGE > .inner > .title {
    font-size: 50px;
    font-weight: 500;
}
#TITLEPAGE > .inner > .subtitle {
    color: var(--v7);

    text-align: center;
    font-size: 16px;
}
#TITLEPAGE > .inner > .nav {
    --n: 4;

    width: min(calc(var(--n)*100px + (var(--n)-1)*10px), calc(100vw - 20px));
    margin-top: 30px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#TITLEPAGE > .inner > .nav > button.item {
    width: 100px;
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

    border-radius: var(--b);

    font-size: 16px;
}
#TITLEPAGE > .inner > .nav > button.item > ion-icon {
    font-size: 32px;
}
#TITLEPAGE > .info {
    position: absolute;
    bottom: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: center;

    color: var(--v2);
    font-size: 12px;
}
