#titlebar {
    gap: 0px;
}
#titlebar > .logo {
    padding: 10px;

    font-size: 16px;

    background-color: transparent;

    cursor: pointer;
}
#titlebar > button.nav {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    align-self: stretch;

    padding: 10px 20px;

    gap: 10px;

    font-size: 12px;
}
#titlebar > #projectinfo {
    align-self: stretch;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > button.display {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    min-width: max-content;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#titlebar > #projectinfo > .content {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateY(-10px);

    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    background-color: var(--v2);
    border-radius: 5px;
    border: 1px solid var(--v3);
    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#titlebar > #projectinfo.this > .content {
    transform: translateY(0px);

    opacity: 100%;
    visibility: inherit;
}
#titlebar > #projectinfo > .content > input {
    --use-o: 1;

    background-color: var(--v1-8);
}
#titlebar > #projectinfo > .content > .divider {
    height: 1px;

    background-color: var(--v3);
}
#titlebar > #projectinfo > .content > div:not(.divider) {
    color: var(--v8);

    font-size: 12px;
}
#titlebar > #projectinfo > .content > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#titlebar > #projectinfo > .content > .nav > button {
    flex-basis: 100%;

    padding: 10px;

    border-radius: 5px;
}
#titlebar > .space {
    flex-basis: 100%;
}
#titlebar > #save {
    --bg: transparent;
    --bgh: transparent;
    --bgd: transparent;

    padding: 10px;

    font-size: 12px;
}
#titlebar > button.nav:not(.forproject) {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    padding: 10px;
    aspect-ratio: 1 / 1;
}
#titlebar > button.nav:not(.forproject).this {
    --bg: var(--a);
    --fg: var(--v8);
    --bgh: var(--v8);
    --fgh: var(--v1);
    --bgd: var(--a3);
    --fgd: var(--v6);
}

#mount {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#mount > .page {
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#TITLEPAGE {
    background: var(--gradient);
}
#TITLEPAGE > .title {
    font-size: 50px;
}
#TITLEPAGE > .title > span:first-child {
    color: var(--a);
}
#TITLEPAGE > .title > span:last-child {
    color: var(--v8);
}
#TITLEPAGE > .subtitle {
    color: var(--v7);

    font-size: 16px;
}
#TITLEPAGE > .nav {
    width: min(300px, 100%);
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#TITLEPAGE > .nav > button {
    position: relative;

    padding: 10px 30px;

    border-radius: 5px;

    font-size: 16px;
}
#TITLEPAGE > .nav > button > ion-icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%) translateX(-0px);

    opacity: 0%;
    visibility: hidden;

    transition: transform var(--t), opacity var(--t), visibility var(--t);
}
#TITLEPAGE > .nav > button:not(:disabled):hover > ion-icon {
    transform: translateY(-50%) translateX(-10px);

    opacity: 100%;
    visibility: inherit;
}

#PROJECTSPAGE {
    width: min(100%, max(750px, calc(100% - 320px))) !important;
    max-width: min(100%, max(750px, calc(100% - 320px))) !important;

    justify-content: flex-start !important;

    align-items: stretch !important;
}
#PROJECTSPAGE > .title {
    margin-top: 20px;

    color: var(--v8);

    text-align: left;
    font-size: 50px;
}
#PROJECTSPAGE > .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}
#PROJECTSPAGE > .nav > .nav {
    flex-basis: 75%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .nav > .nav > button {
    width: max-content;
    padding: 10px 20px;

    gap: 10px;

    border-radius: 5px;
}
#PROJECTSPAGE > .nav > .info {
    min-width: max-content;
    padding: 0px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .nav > .info > button {
    --bg: transparent;
    --fg: var(--v5);
    --bgh: transparent;
    --fgh: var(--v6);
    --bgd: transparent;
    --fgd: var(--v4);

    padding: 0px;

    font-size: 20px;
}
#PROJECTSPAGE > .nav > .search {
    flex-basis: 25%;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-8);
    border-radius: 5px;
    outline: 1px solid var(--v3);
}
#PROJECTSPAGE > .nav > .search:has(> input:disabled) {
    outline: 1px solid var(--v2);
}
#PROJECTSPAGE > .nav > .search:has(> input:focus-visible) {
    outline: 1px solid var(--v8);
}
#PROJECTSPAGE > .nav > .search > input {
    flex-basis: 100%;

    background-color: transparent;
}
#PROJECTSPAGE > .nav > .search > button {
    --bg: transparent;
    --bgh: var(--v2);
    --bgd: transparent;

    aspect-ratio: 1 / 1;
}
#PROJECTSPAGE > .content {
    margin-top: 20px;

    flex-basis: 100%;

    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
#PROJECTSPAGE > .content.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    border-top: 1px solid var(--v2);
}
#PROJECTSPAGE > .content.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 10px;
}
#PROJECTSPAGE > .content > .empty {
    color: var(--v6);

    text-align: center;
    font-style: italic;
}
#PROJECTSPAGE > .content > .item.list {
    position: relative;

    padding: 15px;

    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    background-color: var(--v2-0);
    border-bottom: 1px solid var(--v2);

    transition: background-color var(--t);
}
#PROJECTSPAGE > .content > .item.list:hover {
    background-color: var(--v2-8);
}
#PROJECTSPAGE > .content > .item.list::before {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);

    width: 1px;
    height: 100%;

    background-color: var(--a);
}
#PROJECTSPAGE > .content > .item.list.selected::before {
    content: "";
}
#PROJECTSPAGE > .content.list > .item.list {
    display: flex;
}
#PROJECTSPAGE > .content > .item.list > ion-icon {
    min-width: max-content;

    color: var(--v7);

    transition: color var(--t);
}
#PROJECTSPAGE > .content > .item.list:hover > ion-icon {
    color: var(--v8);
}
#PROJECTSPAGE > .content > .item.list > .name {
    flex-basis: 66%;

    color: var(--v7);

    transition: color var(--t);
}
#PROJECTSPAGE > .content > .item.list:hover > .name {
    color: var(--v8);
}
#PROJECTSPAGE > .content > .item.list > .time {
    flex-basis: 33%;

    color: var(--v5);

    transition: color var(--t);
}
#PROJECTSPAGE > .content > .item.list:hover > .time {
    color: var(--v6);
}
#PROJECTSPAGE > .content > .item.list > .nav {
    min-width: max-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .content > .item.list > .nav > button {
    --bg: transparent;
    --fg: var(--v5);
    --bgh: var(--v2);
    --fgh: var(--v6);
    --bgd: transparent;
    --fgd: var(--v3);
}
#PROJECTSPAGE > .content > .item.grid {
    position: relative;

    width: 250px;
    max-width: 250px;
    padding: 10px;

    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--v2-0);
    border: 1px solid var(--v3);
    border-radius: 5px;

    transition: background-color var(--t);
}
#PROJECTSPAGE > .content > .item.grid:hover {
    background-color: var(--v2-8);
}
#PROJECTSPAGE > .content.grid > .item.grid {
    display: flex;
}
#PROJECTSPAGE > .content > .item.grid.selected {
    border: 1px solid var(--a);
}
#PROJECTSPAGE > .content > .item.grid > .top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .content > .item.grid > .top > ion-icon {
    min-width: max-content;
    
    color: var(--v7);

    transition: color var(--t);
}
#PROJECTSPAGE > .content > .item.grid:hover > .top > ion-icon {
    color: var(--v8);
}
#PROJECTSPAGE > .content > .item.grid > .top > .name {
    flex-basis: 100%;

    color: var(--v7);

    transition: color var(--t);
}
#PROJECTSPAGE > .content > .item.grid:hover > .top > .name {
    color: var(--v8);
}
#PROJECTSPAGE > .content > .item.grid > .top > .nav {
    min-width: max-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}
#PROJECTSPAGE > .content > .item.grid > .top > .nav > button {
    --bg: transparent;
    --fg: var(--v5);
    --bgh: var(--v2);
    --fgh: var(--v6);
    --bgd: transparent;
    --fgd: var(--v3);
}
#PROJECTSPAGE > .content > .item.grid > .image {
    aspect-ratio: 3 / 2;
    margin: 10px 0px;

    background-color: var(--v2-8);
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#PROJECTPAGE {
    --bottom: 30px;

    padding: 0px !important;

    justify-content: flex-start !important;
    align-items: stretch !important;
    gap: 0px !important;

    overflow: hidden;
}
#PROJECTPAGE > .main {
    min-height: 100%;
    max-height: 100%;

    transition: height var(--t), max-height var(--t);
}
#PROJECTPAGE.open > .main {
    min-height: calc(100% - var(--bottom));
    max-height: calc(100% - var(--bottom));
}
#PROJECTPAGE > .nav {
    height: var(--bottom);
    max-height: var(--bottom);
    padding: 0px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;

    border-top: 1px solid var(--v2);
    outline: none;
}
#PROJECTPAGE > .nav:focus {
    background-color: var(--v2-4);
    border-top: 1px solid var(--v4);
}
#PROJECTPAGE > .nav > .pre,
#PROJECTPAGE > .nav > .post {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    gap: 5px;
}
#PROJECTPAGE > .nav > .pre *,
#PROJECTPAGE > .nav > .post * {
    min-width: max-content;
}
#PROJECTPAGE > .nav > .pre button,
#PROJECTPAGE > .nav > .post button {
    --bg: transparent;
    --fg: var(--v6);
    --bgh: transparent;
    --fgh: var(--v8);
    --bgd: transparent;
    --fgd: var(--v4);

    aspect-ratio: 1 / 1;
    padding: 0px;
}
#PROJECTPAGE > .nav > .pre .info,
#PROJECTPAGE > .nav > .post .info {
    color: var(--v6);

    font-family: monospace;
    font-size: 12px;
}
#PROJECTPAGE > .nav > .pre {
    order: -1;

    justify-content: flex-start;
}
#PROJECTPAGE > .nav > .post {
    order: +1;

    justify-content: flex-end;
}
#PROJECTPAGE > .nav > .progress {
    --progress: 50%;
    --hover: 50%;

    position: relative;

    width: 100%;
    height: 5px;

    background-color: var(--v3);
}
#PROJECTPAGE > .nav > .progress::before {
    content: "";

    position: absolute;
    top: 0%;
    left: 0%;

    width: var(--progress);
    height: 100%;

    background-color: var(--v6);

    transition: background-color var(--t);
}
#PROJECTPAGE > .nav > .progress:hover::before {
    background-color: var(--v8);
}
#PROJECTPAGE > .nav > .progress::after {
    content: "";

    position: absolute;
    top: 50%;
    left: var(--progress);
    transform: translate(-50%, -50%) scale(0%);

    width: 10px;
    aspect-ratio: 1 / 1;

    background-color: var(--v6);
    border-radius: 100%;

    transition: transform var(--t), background-color var(--t);
}
#PROJECTPAGE > .nav > .progress:hover::after {
    transform: translate(-50%, -50%) scale(100%);

    background-color: var(--v8);
}
#PROJECTPAGE > .nav > .progress > .hover {
    z-index: 1;

    position: absolute;
    top: 50%;
    left: var(--hover);
    transform: translate(-50%, -50%);

    height: 5px;
    aspect-ratio: 1 / 1;
}
#PROJECTPAGE > .nav > .progress > .hover > .tooltip {
    font-family: monospace;
    font-size: 12px;
}
#PROJECTPAGE > .nav > .progress > .section {
    --l: 0%;
    --r: 100%;
    --x: 0;

    position: absolute;
    bottom: calc(50% * (var(--x) + 2));
    left: var(--l);
    right: calc(100% - var(--r));

    height: 50%;
}
